{% extends "base.html" %}

{% block title %}{{ super() }} &middot; {{ DATA_CONFIG['cifasotheque']['archives'][DEFAULT_LANG]['name'] }}{% endblock %}

{% block head %}
    {{ super() }}
    {# TODO: meta-data to add? #}
    <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/css/cifasotheque.css" />
{% endblock %}

{% block body_class %}
    {{ super() }}
    solid archives
{% endblock %}

{% block content %}

    {# list of all articles **without** meta-data `state: liquid` #}
    {% set main_solid = articles|rejectattr("state", "equalto", "liquid")|main_events %}

    <header class="shelf__header">
        <h1 class="shelf__short">{{ DATA_CONFIG['cifasotheque']['archives'][DEFAULT_LANG]['description'] }}</h1>
    </header>

    <main class="small-grid">

        {# sorted by years folder #}
        {% for cat in categories %}
            {% if cat[0] == 'event' %}

                {# iterate on the year in descressing order #}
                {% for year in cat[0].children|sort(attribute='shortname', reverse = True) %}

                    {# getting all articles from this category(year) #}
                    {% set year_events = main_solid|has_cat(year) %}

                    {% if year_events|length > 0 %}

                        <h2 class="olive-up drawer">{{year.shortname}}</h2>

                        {# iterating on them in reverse min date order #}
                        {% for article in year_events|sort_by_min_date %}

                            {% include 'partials/small_block.html' %}
                        
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </main>

    <script src='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/calendar.js'></script>
    <script src='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/condensed-titles.js'></script>
    <script>
      setup_titles(sort_program);
    </script>

{% endblock %}

