
{# ----- NEWSLETTER (draft only) ----- #}
{# reset everything for newsletter #}
{% if article.category.ancestors[0] == "newsletter" %}
  {% include 'newsletter.html' %}
{% else %}

  {# ----- ARTICLES SETUP ----- #}
  {# standard article begin here #}

  {% extends "base.html" %}
  {% block html_lang %}{{ article.lang }}{% endblock %}

  {% set SITENAME = SITENAME + ' · ' + article.title|striptags|escape %}
  {% set SHORT = article.summary|striptags|escape %}

  {# if event has no cover, and is sub-event, default to the one of their index #}
  {% set index = articles|selectattr("category", "equalto", article.category)|get_index %}
  {% if not article.cover and index %}
      {% set cover = index.cover %}
  {% else %}
      {% set cover = article.cover %}
  {% endif %}
  {% set same_path = article.category.ancestors[1]%}
  {% set src = '/images/' +  same_path|string + '/' + cover|string %}
  {% set COVER = 'https://cifas.be' + src %}

  {% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/css/article.css" />

    {% if article.category.ancestors[-1] == "cifasotheque" %}
    <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/css/cifasotheque.css" />
    {% endif %}
  {% endblock %}

  {% block body_class %}
      {{ super() }}
      {# add the liquid or solid body class accordinly #}
      {% if article.state %}
        {{ article.state }}
      {% else %}
        solid
      {% endif %}
  {% endblock %}

  {# ----- ARTICLES HTML ----- #}
  {% block content %}

    {# the categories level are used as class to differentitate articles #}
    <main id="{{article.slug}}" class="article
                {% for ancestor in article.category.ancestors %}
                  article--{{ ancestor.shortname }}
                {% endfor %}">
      
      {# ----- SHELF ----- #}
      {# if its a shelf, includes the cifasotheque header #}
      {% if article.category.ancestors[-1] == "cifasotheque" %}

        {# look up inside the data file for description and name #}
        {% if article.slug in DATA_CONFIG['cifasotheque'] %}
            {% set shelf_meta = DATA_CONFIG['cifasotheque'][article.slug][DEFAULT_LANG] %}
        {% else %}
            {% set shelf_meta = {'name': article.title, 'description': ''} %}
        {% endif %}

        <header class="shelf__header">
          <h1 class="shelf__short">{{ shelf_meta['description'] }}</h1>
          {% if article.toc %}
          <div class="shelf__nav">
            {{ article.toc }}
          </div>
          {% endif %}
        </header>
      {% endif %}
      
      {# ----- META-COLUMN ----- #}
      {# we insert the meta-data column only if it's not a shelf #}
      {% if not article.category.ancestors[-1] == "cifasotheque" %}
      <header class="article__header">
        <div class="sticky">
          {% include 'partials/block.html' %}
        </div>
      </header>
      {% endif %}

      {# ----- CONTENT ----- #}
      {# here goes the main content of the article #}
      <div class="article-wrapper 
                  {% if article.document_full or 'publications' in article.category.slug %}
                    document-full
                  {% endif %}">

        {# publication always have the pdf in full #}
        {% if article.document_full or 'publications' in article.category.slug %}
          <iframe src="/pdf/{{article.document}}" type="application/pdf" width="100%" height="100%">
          </iframe>
        {% else %}

          {# --- COVER IMAGE WITH CREDIT --- #}
          
          {% if cover and not 'outils' in article.category.slug %}
            <figure class="block__cover no-hover-links">
                <div class="img-wrapper">
                    <a target="_blank" title="Open this image on a new tab" href="{{ src|urlencode }}">
                        <img class="image-process-cover" src="{{ src|urlencode }}">
                    </a>
                </div>
                {% if article.cover_credits %}
                <figcaption class="img-credits txt-content">
                    {{article.cover_credits}}
                </figcaption>
                {% endif %}
            </figure>
          {% endif %}
          
          {% if not article.category.ancestors[-1] == "cifasotheque" %}
          <div class="title-container txt-pad no-hover-links">
            {# --- TITLE --- #}
            <div class="block__title olive-big">
              <div class="border-pannel">
                <div class="title-wrapper">
                  <h2 class="pseudo-condensed">
                    {{ article.title }}
                  </h2>
                </div>
              </div>
            </div>
            {% if article.category.ancestors[0] == "event" %}
              {# CATEGORIES #}
              {% if article.type %}
                <ul class="block__list block__types olive-up border-pad">
                  {% for cat in article.type.split(", ") %}<li>{{cat}}</li>{% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          </div>
          {% endif %}

          {# we put summary only for the events #}
          {% if "event" in article.category.slug and article.summary %}
          <div class="txt-content txt-content--long txt-pad">
            <header class="event__article-head">
              <div class="block__short olive">
                  {{ article.summary }}
              </div>
            </header>
          </div>
          {% endif %}

          {# first we put traces if there are some #}
          {% if article.trace %}
            <div class="event__trace txt-content txt-content--long image-process-float">
              <h2 class="desire-path small-pannel">
                {{ DATA_CONFIG[DEFAULT_LANG]['traces_name'] }}
              </h2>
              {{article.trace.content}}
              <div class="trace__arrow left"><</div>
              <div class="trace__arrow right">></div>
              <script>
                let current = 0;
                let traces = document.querySelectorAll('.trace__gallery > *');
                let i = 0;
                for(let trace of traces){
                  trace.id = 'trace_' + i;
                  i = i + 1;
                }
                let arrows = document.querySelectorAll('.trace__arrow');
                for(let arrow of arrows){
                  arrow.addEventListener('click', function(){
                    function go_to(j){
                      let image = document.getElementById('trace_' + j);
                      let position = image.offsetLeft;
                      document.querySelector('.trace__gallery').scrollLeft = position - (4 * 16);
                    }
                    let target = current
                    if(arrow.classList.contains('left')){
                      target = Math.max(current - 1, 0);
                      console.log(target)
                    }
                    else if(arrow.classList.contains('right')){
                      target = Math.min(current + 1, i-1);
                      console.log(target)
                    }
                    go_to(target);
                    current = target;
                  });
                }
              </script>
            </div>
          {% endif %}
          
          {# in the cifasotheque document goes before content #}
          {% if "cifasotheque" in article.category.slug and article.document %}
              <div class="article__document txt-pad">
                <object data="/pdf/{{article.document}}" type="application/pdf" width="100%" height="100%">
                  <embed src="/pdf/{{article.document}}">
                  </embed>
                </object>
              </div>
          {% endif %}
          
          {# the content #}
          <div class="txt-content txt-content--long txt-pad image-process-float">
            {{ article.content }}
          </div>

          {# if there is a form it goes after the content #}
          {% if article.category.ancestors[0] == "event" and article.event_form %}
            <div id="event__form" class="event__form txt-pad">
              <iframe class="border-dash" src="{{ article.event_form }}" width="100%" height="100%" border="0"></iframe>
            </div>
          {% endif %}

          {# for events document goes after content #}
          {% if "event" in article.category.slug and article.document %}
              <div class="article__document txt-pad">
                <object data="/pdf/{{article.document}}" type="application/pdf" width="100%" height="100%">
                  <embed src="/pdf/{{article.document}}">
                  </embed>
                </object>
              </div>
          {% endif %}

        {% endif %}

      </div>

    </main>

    <script src='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/calendar.js'></script>
    <script src='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/condensed-titles.js'></script>
    <script src='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/mobile-details.js'></script>
    <script>
      setup_titles(sort_program);
    </script>

  {% endblock %}

{% endif %}
