<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

  <head>
    {% block head %}

      <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/css/reset.css" />
      <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/css/fonts.css" />
      <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/css/color.css" />
      <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/css/main.css" />
      <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/css/typography.css" />
      <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/css/nav.css" />
      <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/css/block-system.css" />

      <!-- inline svg text favicon -->
      <link rel="icon" href="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/caves/cave10.svg">

      <!-- meta tags -->
      <meta name="generator" content="Pelican" />
      <meta name="title" content="{% block meta_title %}{{ SITENAME }}{% endblock %}">
      <meta name="author" content="{% block meta_author %}{{ AUTHOR }}{% endblock %}">
      <meta name="description" content="{% block meta_description %}{{ SHORT }}{% endblock %}">

      <!-- opengraph:meta -->
      <meta property="og:type" content="website" />
      <meta property="og:title" content="{{ SITENAME }}" />
      <meta property="og:description" content="{{ SHORT }}">
      <meta property="og:url" content="https://cifas.be" />
      <meta property="og:image" content="{{ COVER }}" />

      <!-- twitter:meta -->
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:title" content="{{ SITENAME }}" />
      <meta name="twitter:description" content="{{ SHORT }}" />
      <meta name="twitter:image" content="{{ COVER }}" />

    {% endblock %}
  </head>

  {% set cifasotheque_menu = DATA_CONFIG['cifasotheque'].values()|sort(attribute='order')|map(attribute=DEFAULT_LANG)|selectattr("link")|list %}
  {% set cifasotheque_files = cifasotheque_menu|map(attribute='link')|list %}
  
  <body class="{% block body_class %}c-back {% endblock %}
    {% if output_file in cifasotheque_files %}
      lower-nav
    {% endif %}">

    {% include 'partials/nav.html' %}

    {% block content %}

    {% endblock %}

  </body>
</html>
