{% extends "base.html" %}

{# take category meta from the config file #}
{% if category.shortname in DATA_CONFIG['cifasotheque'] %}
    {% set category_meta = DATA_CONFIG['cifasotheque'][category.shortname][DEFAULT_LANG] %}
{% else %}
    {% set category_meta = {'name': category.shortname, 'description': ''} %}
{% endif %}

{% block title %}{{ super() }} &middot; {{ category_meta['name'] }} {% endblock %}

{% block head %}
    {{ super() }}
    {# TODO: meta-data to add? #}
    <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/css/cifasotheque.css" />
{% endblock %}

{% block body_class %}
    {{ super() }}
    solid archives category
{% endblock %}

{% block content %}

    {% if 'cifasotheque/' in category.name %}
    
        {% set drawers = category.children|config_sort(DATA_CONFIG) %}
    
        <header class="shelf__header">
            <h1 class="shelf__short">{{ category_meta['description'] }}</h1>
            <div class="shelf__nav">
                {% for drawer_cat in drawers %}
                    {% if drawer_cat.shortname in DATA_CONFIG['cifasotheque'] %}
                        {% set drawer_cat_meta = DATA_CONFIG['cifasotheque'][drawer_cat.shortname][DEFAULT_LANG] %}
                    {% else %}
                        {% set drawer_cat_meta = {'name': drawer_cat.shortname, 'description': ''} %}
                    {% endif %}
                    <div>
                        <a class="olive" href="#{{drawer_cat.slug}}">{{drawer_cat_meta['name']}}</a>
                        <p>{{drawer_cat_meta['description']}}</p>
                    </div>
                {% endfor %}
            </div>
        </header>

        <main class="small-grid">

            {% for drawer_cat in drawers %}
                {% set drawer_articles = articles|has_cat(drawer_cat) %}

                {% if drawer_cat.shortname in DATA_CONFIG['cifasotheque'] %}
                    {% set drawer_cat_meta = DATA_CONFIG['cifasotheque'][drawer_cat.shortname][DEFAULT_LANG] %}
                {% else %}
                    {% set drawer_cat_meta = {'name': drawer_cat.shortname, 'description': ''} %}
                {% endif %}

                <h2 class="olive-up drawer" id="{{drawer_cat.slug}}">{{drawer_cat_meta['name']}}</h2>

                {# iterating on them in reverse min date order #}
                {% for article in drawer_articles %}
                    {% include 'partials/small_block.html' %}     
                {% endfor %}

            {% endfor %}

        </main>

    {% endif %}

    <script src='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/condensed-titles.js'></script>
    <script>
      setup_titles();
    </script>

{% endblock %}

