{% extends "base.html" %}

{% macro print_event(a, has_program, is_subevent) %}
    <div class="debug__article">
        <strong>{{ a.title }} ({{ a.lang }})</strong>
        <br/> <span style="opacity: 0.5;">path: {{ a.relative_source_path }}</span>
        <br/> <span style="opacity: 0.5;">slug: {{ a.slug }}</span>
        <br/> <span style="opacity: 0.5;">url: <a href="{{ a.url }}">{{ a.url }}</a></span>
        <br/>
        {% if a.type %}type: 
            <span class="debug__ok">{{ a.type }}</span>{% else %}<span class="debug__warning">no type</span>
        {% endif %}
        {% if  not is_subevent %}
        <br/>
            {% if a.cover%}event_cover: 
                <span class="debug__ok">{{ a.cover }}</span>{% else %}<span class="debug__warning">no event_cover</span>
            {% endif %}
        {% endif %}
        <br/>
        {% if a.event_dates %}
            event_dates[full]: 
            <span class="debug__ok">
                {% with event = a, dates_full = true, show_time = true %}
                    {% include 'partials/dates.html' %}
                {% endwith %}
            </span>
            <br/>
            event_dates[min]: 
            <span class="debug__ok">
                {% with event = a%}
                    {% include 'partials/dates.html' %}
                {% endwith %}
            </span>
        {% else %}
            <span class="debug__warning">no event_dates</span>
        {% endif %}
    </div>
{% endmacro %}

{% macro print_event_wtrans(a, has_program, is_subevent) %}
    <div class="debug__article-with-trans">
        {{ print_event(a, has_program, is_subevent) }}
        {% if a.translations %}
            <ul class="debug__translations">
                {% for translation in a.translations %}
                    <li>{{ print_event(translation, has_program, is_subevent) }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <span class="debug__warning">no translation</span>
        {% endif %}
    </div>
{% endmacro %}

{% macro print_event_group(e) %}
    {% set full_program = articles|selectattr("category", "equalto", e.category) %}
    {% set program = full_program|reject("equalto", e)|list %}
    {% set has_program = e|is_index and program|length > 0 %}

    <div class="debug__event {% if has_program %} debug__event--program{% endif %}">
        {{ print_event_wtrans(e, has_program, false) }}
        {% if has_program %}
            <ul class="debug__program">
                {% for sub_e in program %}
                    <li>{{ print_event_wtrans(sub_e, has_program, true) }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}

{% macro print_page(p) %}
    <div class="debug__article">
        <strong>{{ p.title }} ({{ p.lang }})</strong>
        <br/> <span style="opacity: 0.5;">path: {{ p.relative_source_path }}</span>
        <br/> <span style="opacity: 0.5;">slug: {{ p.slug }}</span>
        <br/> <span style="opacity: 0.5;">url: <a href="{{ p.url }}">{{ p.url }}</a></span>
        <br/>
        {% if p.order %}order: 
            <span class="debug__ok">{{ p.order }}</span>{% else %}<span class="debug__warning">no order</span>
        {% endif %}
    </div>
{% endmacro %}

{% macro print_page_wtrans(p) %}
    <div class="debug__article-with-trans">
        {{ print_page(p) }}
        {% if p.translations %}
            <ul class="debug__translations">
                {% for translation in p.translations %}
                    <li>{{ print_page(translation) }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <span class="debug__warning">no translation</span>
        {% endif %}
    </div>
{% endmacro %}

{% block body_class %}
    {{ super() }}
    debug
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/css/debug.css" />
{% endblock %}
 
{% block content %}

    {#{% set current_events = articles|selectattr("state", "equalto", "liquid")|not_indexes %}
    {% set current_programs = articles|selectattr("state", "equalto", "liquid")|indexes %}
    {% set current_both = articles|selectattr("state", "equalto", "liquid")%}#}

    {% set current_events = articles|selectattr("state", "equalto", "liquid")|main_events %}
    {% set past_events = articles|rejectattr("state", "equalto", "liquid")|main_events %}

    <div class="debug-container">
        <div class="liquid-container">
            <h2>liquid</h2>
            {% for e in current_events %}
                {{print_event_group(e)}}
            {% endfor %}
        </div>
        <div class="solid-container">
            <h2>solid</h2>
            {% for e in past_events %}
                {{print_event_group(e)}}
            {% endfor %}
        </div>
    </div>
    <div class="debug-container pages">
        <div class="">
            <h2>pages</h2>
            {% for p in pages|sort(attribute='order') %}
                {{print_page_wtrans(p)}}
            {% endfor %}
        </div>
    </div>
{% endblock %}
