{% extends "base.html" %}

{% block title %}{{ super() }} &middot; {{ DATA_CONFIG[DEFAULT_LANG]['liquid'] }}{% endblock %}

{% block body_class %}
    {{ super() }}
    liquid
{% endblock %}

{% block head %}
    {{ super() }}

    {# TODO: meta-data to add? #}
    <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/css/calendar.css" />
{% endblock %}

{% block content %}

    {# all event which are not sub-events #}
    {% set main_events = articles|selectattr("state", "equalto", "liquid")|main_events %}

    <div class="calendar">

        <aside class="container">
            <div class="sticky">
                <details class="calendar__toc" open>
                    <summary class="txt-content olive">
                        {{ DATA_CONFIG[DEFAULT_LANG]['calendar_toc'] }}
                    </summary>
                    <div class="no-hover-links txt-content">
                        <ul class="toc__list olive">
                            {% for article in main_events %}
                                <li id="toc__{{article.slug}}">
                                    <a class="small-pannel" href="#{{article.slug}}">
                                        <div class="title-wrapper">
                                            <span class="pseudo-condensed">{{ article.title }}</span>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </details>
            </div>
        </aside>
    
        <div class="calendar__events">
    
            {% for article in main_events %}
                <div class="event" id="{{article.slug}}">
                    {% with layout = 'flow' %}
                        {% include 'partials/block.html' %}
                    {% endwith %}
                </div>
            {% endfor %}
    
        </div>
    
    </div>

    <script src='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/calendar.js'></script>
    <script src='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/auto-scrolling-toc.js'></script>
    <script src='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/condensed-titles.js'></script>
    <script src='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/mobile-details.js'></script>
    <script>
        setup_titles(setup_calendar(setup_toc_selection));
    </script>

{% endblock %}

