<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>

    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="x-apple-disable-message-reformatting">
	<title>{{article.title}}</title>

	<!--[if mso]>
<noscript>
<xml>
<o:OfficeDocumentSettings>
<o:PixelsPerInch>96</o:PixelsPerInch>
</o:OfficeDocumentSettings>
</xml>
</noscript>
<![endif]-->

    <!-- font import -->
    <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/css/fonts.css" />

	<style id="to_inline">
        .body td, 
        .body div, 
        .body p {font-family: Arial, sans-serif; font-size: 16px;}

        .body h1, .body h2, .body h3{
            /* font-family: "QTAntiqueOlive"; */
            font-weight: bold;
            letter-spacing: -0.03em;
            font-size: 36px;
        }
        .body h2{
            margin: 54px 7px 20px;
            background-color: #bafcd3;
            border: 3px solid #000000;
            outline: 7px solid #bafcd3;
            background-clip: padding-box;
            padding: 9px 36px;
            border-radius: 12px;
            text-align: center;

            max-width: 480px;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
          
        }
        .body h1{
            margin-top: 0px;
            margin-bottom: 0px;
            text-align: center;
        }
        .body h2:first-of-type{
            margin-top: 8px;
        }
        .body h3{
            font-size: 24px;
            font-weight: bold;
            margin: 36px 0 12px;
        }
        .body blockquote, 
        .body p,
        .body dt,
        .body dd{
            font-size: 16px;
            margin: 12px 0;
            line-height: 21px;
        }
        .main > *:not(h2,img){
            padding: 0 24px;
        }
        .body blockquote > p{
            font-weight: bold;
            margin: 0;
        }
        .body dt {
            font-weight: bold;
            margin: 12px 0 0 0;
        }
        .body dd {
            margin: 0 0 0 24px;
        }
        /* links */
        .body a{
            color: #000000;
            text-decoration: none;
            border-bottom: 3px solid #dbcabd;
        }
        .body a.fade{
            color: #dbcabd;
            border-bottom: 3px solid #dbcabd;
        }
        .body a.button{
            padding: 8px 16px; 
            border: 1.5px solid #000000; 
            text-align: center;
            font-weight: bold;
            display: block;
        }
        .main a{
            color: #000000;
            text-decoration: none;
            border-bottom: 3px solid #bafcd3;
        }

        .lang, .puce{
            display: inline-block;
        }
        .lang{
            margin-right: 12px;
        }

        .main figure{
            margin: 54px 0 0;
            padding: 0;
            display: block;
            position: relative;
        }
        .body h1 + figure{
            margin-top: 24px;
        }
        .main img{
            width: 100%;
            height: 320px;
            margin: 0;
            display: block;
            object-fit: cover;
            background-color: #f0f9f4;
        }
        .body figure + h2{
            /* orginal one
            margin: 54px 7px 26px; */
            margin-top: 0 !important;

            /* if not supported ok */
            position: relative;
            top: -19px;

            z-index: 999;
        }
        .body figure + h2 + *{
            margin-top: 0;
        }
        .main figcaption{
            font-size: 0.75rem;
            position: absolute;
            bottom: 100%;
            right: 0;
            left: 0;
            padding-top: 6px;
            padding-bottom: 19px;
            padding-left: 12px;
            margin-bottom: -13px;
        }
	</style>

</head>

{% set MAIN_URL = "https://cifas.be" %}

<body style="margin:0;padding:0;">

    <button id="save_html" style="position: fixed; top: 48px; left: 48px; padding: 12px; z-index: 999;">
        save html
    </button>

    <!-- fake body table because certain client remove body -->
    <table  class="body" role="presentation" 
            style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#eee4dd;">
		<tr>
			<td align="center" style="padding: 0px; position: relative;">

                <!-- shapes -->
                {#
                <div id="liquid-shape" style="position: absolute; top: 0; left: 0; bottom: 0; width: 80%; overflow: hidden; z-index:0;">
                    <div style="width: 100%; height: auto; position: absolute; top: 1%; left: -20%;"></div>
                    <div style="width: 100%; height: auto; position: absolute; top: 35%; left: -20%;"></div>
                    <div style="width: 100%; height: auto; position: absolute; top: 70%; left: -20%;"></div>
                </div>
                <div id="solid-shape" style="position: absolute; top: 0; right: 0; bottom: 0; width: 80%; overflow: hidden; z-index:0;">
                    <div style="width: 100%; height: auto; position: absolute; top: 10%; right: -20%;"></div>
                    <div style="width: 100%; height: auto; position: absolute; top: 45%; right: -20%;"></div>
                    <div style="width: 100%; height: auto; position: absolute; top: 80%; right: -20%;"></div>
                </div>
                #}

                <!-- container centered table -->
                <table  role="presentation" 
                        style="width:660px; margin: 0 48px; border-collapse:collapse;border-spacing:0; position: relative; z-index: 1;">

                    <!-- HEADER -->
                    <tr>
                        <td style="padding: 12px 24px 30px" align="center">
                            <a href="{{MAIN_URL}}/fr/{{article.url}}" class="fade">view this email in your browser</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0px;" align="center">
                            <div style="width: 200px; margin-bottom: -54px;" title="Cifas · Performing art in the city and its fringes · Art vivant dans la ville et ses lisières">
                                <img style="max-width: 100%;" src="https://cifas.be/theme/cifas-logo-baseline-autour-outlined_fr.png">
                            </div>
                        </td>
                    </tr>

                    <!-- FRENCH SECTION -->
                    <tr>
                        <td id="fr" style="padding: 16px 0px;" align="left">
                            <div class="puce" width="24px">
                                {% include 'shapes/active1.svg' %}
                            </div>
                            <span class="lang">Fr</span>
                            <a href="#en" style="float: right;">En</a>
                        </td>
                    </tr>              
                    <!-- MAIN TEXT with borders -->
                    <tr>
                        <td style="padding:0px;">
                            <table  role="presentation"
                                    style="border-collapse:collapse;border:1.5px solid #000000;background:white;border-spacing:0;text-align:left;">
                                <tr>
                                    <td style="padding:24px 0;" class="main">
                                        <h1>{{article.title}}</h1>
                                        {{ article.content }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 8px 0px 0px;" align="center">

                            <!-- NAVIGATION links in 2 columns -->
                            <table  role="presentation" 
                                    style="width: 100%;border-collapse:collapse;border:0;border-spacing:0;">
                                <tr>
                                    <td style="width: 50%; padding: 0px;">
                                        <a href="{{MAIN_URL}}/fr/{{ DATA_CONFIG['fr']['liquid']|lower }}.html" class="button" style="background:#bafcd3; margin-right: 4px;">{{ DATA_CONFIG['fr']['liquid'] }}</a> 
                                    </td>
                                    <td style="width: 50%; padding: 0px;">
                                        <a href="{{MAIN_URL}}/fr/{{ DATA_CONFIG['fr']['solid']|lower }}.html" class="button" style="background:#e9c535; margin-left: 4px;">{{  DATA_CONFIG['fr']['solid'] }}</a>  
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 24px 24px 0;" align="center">
                            <div class="puce" width="16px">
                                {% include 'shapes/active2.svg' %}
                            </div>
                        </td>
                    </tr>

                    <!-- ENGLISH SECTION -->
                    <tr>
                        <td id="en" style="padding: 16px 0;" align="left">
                            <a href="#fr">Fr</a>
                            <span style="float: right;">
                                <div class="puce" width="24px">
                                    {% include 'shapes/active1.svg' %}
                                </div>
                                <span class="lang">En</span>
                            </span>
                        </td>
                    </tr>
                    <!-- MAIN TEXT (TRANSLATION) with borders -->
                    <tr>
                        <td style="padding:0px;">
                            <table  role="presentation"
                                    style="border-collapse:collapse;border:1.5px solid #000000;background:white;border-spacing:0;text-align:left;">
                                <tr>
                                    <td style="padding:24px 0;" class="main">
                                        <h1>{{article.translations[0].title}}</h1>
                                        {{ article.translations[0].content }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 8px 0px 0px;" align="center">

                            <!-- NAVIGATION links in 2 columns -->
                            <table  role="presentation" 
                                    style="width: 100%;border-collapse:collapse;border:0;border-spacing:0;text-align:left;">
                                <tr>
                                    <td style="width: 50%; padding: 0px;">
                                        <a href="{{MAIN_URL}}/en/{{ DATA_CONFIG['en']['liquid']|lower }}.html" class="button" style="background:#bafcd3; margin-right: 4px;">{{ DATA_CONFIG['en']['liquid'] }}</a> 
                                    </td>
                                    <td style="width: 50%; padding: 0px;">
                                        <a href="{{MAIN_URL}}/en/{{ DATA_CONFIG['en']['solid']|lower }}.html" class="button" style="background:#e9c535; margin-left: 4px;">{{  DATA_CONFIG['en']['solid'] }}</a>  
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>

                    <!-- FOOTER -->
                    <tr>
                        <td style="padding: 24px 24px 0;" align="center">
                            <div class="puce" width="16px">
                                {% include 'shapes/active2.svg' %}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 24px 24px 0;" align="center">
                            <p style="margin: 0 0 12px;">Cifas asbl, Rue de Flandre 46, 1000 Bruxelles, Belgique.</p>
                            <p style="margin: 0;">
                                +32 (0)497 74 74 25
                                ·
                                <a href="mailto:cifas@cifas.be">cifas@cifas.be</a>  
                                ·
                                <a href="{{MAIN_URL}}">www.cifas.be</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 24px;" align="center">
                            <a href="mailto:cifas-leave@lists.collectifs.net" class="fade">unsubscribe from the newsletter</a>
                        </td>
                    </tr>

                </table>


			</td>
		</tr>
	</table>

    {# include every shape #}
    {#
    <div id="placing-shapes">
        <section id="placing-liquid-shapes">
            {% for l_shape in LIQUID_SHAPES %}
                {% include 'shapes/liquid/' + l_shape %}
            {% endfor %}
        </section>
        <section id="placing-solid-shapes">
            {% for s_shape in SOLID_SHAPES %}
                {% include 'shapes/solid/' + s_shape %}
            {% endfor %}
        </section>
    </div>
    #}

    <script>
        

        // ------------------------------------------------------------

        function style2inline(e,forbidden_prop){

            // get computed style
            const computedStyle = window.getComputedStyle(e);

            // create a clone and insert it
            let clone = document.createElement(e.tagName);
            if(clone.tagName == 'A'){ clone.href="#"; }
            document.body.insertAdjacentElement('afterBegin', clone);
            const defaultComputedStyle = window.getComputedStyle(clone);

            Array.prototype.forEach.call(computedStyle, (property) => {
                    // check in which properties they differ
                    let default_value = defaultComputedStyle.getPropertyValue(property);
                    let value = computedStyle.getPropertyValue(property);

                    if(default_value != value
                        && ! forbidden_prop.includes(property)){ 
                        // console.log(property, default_value, value);
                        // if yes then write
                        e.style[property] = computedStyle.getPropertyValue(property);
                    } 

                    if(e.tagName == 'H2' && property == 'width'){
                        e.style[property] = 'fit-content';
                    }
                    if(e.tagName == 'H2' && (property == 'margin-left' || property == 'margin-right')){
                        e.style[property] = 'auto';
                    }
                    if((e.tagName == 'P' || e.tagName == 'TD') && property == 'font-size'){
                        e.style[property] = '16px';
                    }

                }
            );

            if(e.tagName == 'IMG' && e.hasAttribute('srcset')){
                console.log('coucou');
                let srcset = e.srcset;
                console.log(srcset);
                let biggest = srcset.split(', ')[1];
                console.log(biggest);
                let src = biggest.split(' ')[0];
                console.log(src);
                e.src = src;
                e.removeAttribute('srcset');
            }
            if(e.tagName == 'BLOCKQUOTE'){
                e.style['padding'] = '0px';
                e.style['border'] = 'none';
            }

            //remove clone
            clone.remove();
        }

        let elem_types = ['p', 'strong', 'a', 'dt', 'dd', 'blockquote', 'h1', 'h2', 'h3', 'figure', '.main img', 'figcaption', '.lang', '.puce', 'td'];
        let to_inline = document.getElementById('to_inline');

        for (type of elem_types){

            let elems = document.querySelectorAll(type);
            
            let forbidden_prop = ['width', 'height', 'block-size', 'inline-size', '"margin-block"', 'perspective-origin', 'transform-origin', '"padding-block"', 'margin-inline-start', 'border-collapse', 'border-block-width', 'border-block-style', 'margin-inline-end', 'inset-block', 'inset-inline']
            if (type == '.main img'){
                forbidden_prop.splice(0, 2);
            }

            for (e of elems){
                style2inline(e, forbidden_prop);
            }
        }
        to_inline.remove();



        // ------------------------------------------------------------
        // markdown image to absolute image

        let md_images = document.querySelectorAll('.main img');
        for(let img of md_images){
            let rel_source = img.src.split('/images/');
            img.src = '{{MAIN_URL}}/' + 'images/' + rel_source[1];
        }


        // ------------------------------------------------------------

        let save_html = document.getElementById('save_html');
        save_html.addEventListener('click', function(){

            let html = document.documentElement.cloneNode(true);;

            let frag_scripts = html.querySelector('script');
            console.log(frag_scripts);
            frag_scripts.remove();
            
            let frag_button = html.querySelector('#save_html');
            frag_button.remove();

            let a_download = document.createElement('a');
            a_download.href = '#';
            a_download.download = 'newsletter.html';
            a_download.addEventListener('click', function(){
                this.href = 'data:text/html;charset=UTF-8,' + encodeURIComponent(html.outerHTML);
            });
            document.body.appendChild(a_download);
            a_download.click();
            document.body.removeChild(a_download);
            
        });

    </script>
</body>

</html>
