{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} &middot; {{ page.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}
  {# TODO: meta-data to add? #}
  <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/css/article.css" />
{% endblock %}

{% block content %}

{# the first level category is used a class to differentitate: event, contribution, klaxon, etc. #}
<main class="article page">

  <header class="article__header">
    <div class="sticky">
      <details class="event-block" open>
        <summary class="txt-content olive">
            {{ DATA_CONFIG[DEFAULT_LANG]['page_menu'] }}
        </summary>
        <ul class="sub-nav nav__langs txt-content no-links border-pad--full">
          {% for lang, lang_url in lang_siteurls.items() %}
              <li>
                  <a  class="sub-nav__lang {% if DEFAULT_LANG == lang %}active{% endif %}"
                      {% if DEFAULT_LANG == lang %}
                          href='{{ page.url }}'
                      {% else %}
                          href='{{ page.translations|selectattr("lang", "equalto", lang)|first|attr("url") }}'
                      {% endif %}>
                      {{ lang }}
                  </a>
              </li>
          {% endfor %}
        </ul>

        {% for item in MENUITEMS %}
          {# HOME WITH SUB #}
          {% if item[2] == "home" %}
          <a href="/{{ DEFAULT_LANG }}/{{ item[1] }}" class="logo-wrapper">
              <img class="logo" src="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/cifas-logo-baseline-autour-outlined_{{DEFAULT_LANG}}.svg">
          </a>
          <div class="nav__pages sub-nav txt-content no-links">
            <ul class="">
                {% for p in pages|sort(attribute='order') %}
                    <li>
                        <a class="sub-nav-item" href="{{ p.url }}">{{ p.title }}</a>
                    </li>
                {% endfor %}
            </ul>
          </div>
          {% endif %}
        {% endfor %}

      </details>
    </div>
  </header>

  {# CONTENT #}
  <div class="article-wrapper">

    <div class="title-container txt-pad no-hover-links">
      {# --- TITLE --- #}
      <div class="event__title olive-big">
          <div class="border-pannel">
            <div class="title-wrapper">
              <h2 class="pseudo-condensed">
                {{ page.title }}
              </h2>
            </div>
          </div>
      </div>
    </div>

    <div class="txt-content txt-content--long txt-pad">
      {{ page.content }}
    </div>

  </div>

</main>

<script src='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/calendar.js'></script>
<script src='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/condensed-titles.js'></script>
<script src='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/mobile-details.js'></script>
<script>
  setup_titles(sort_program);
</script>

{% endblock %}
