{% extends "base.html" %}

{% block head %}
    {{super()}}
{% endblock %}

{% block body_class %}{{super()}}desire-path-page{% endblock %}

{% block content %}

    <div class="top">
        <h2 class="olive-up">
            {{DATA_CONFIG[DEFAULT_LANG]['desire_paths_name']}} · {{DATA_CONFIG[DEFAULT_LANG]['desire_paths'][0]['name']}}
        </h2>
        <input type="text" id="search" name="search" placeholder="...">
    </div>

    <div class="desire-grid">

    {% for tag in tags|sort_by_article_count %}

        <div class="txt-content no-links" id="{{tag[0].slug}}">
        
            <a class="small-pannel" href="#{{tag[0].slug}}">
                <div class="title-wrapper">
                    <h2 class="pseudo-condensed">
                        {{ tag[0] }} 
                    </h2>
                </div>
            </a>

            <ul class="smaller">
                {% for art in tag[1] %}
                <li>
                    <a href="{{ art.url }}">
                        {{ art.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>

        </div>
    {% endfor %}
    </div>

    <script>
        let input = document.getElementById('search');
        let tags = document.querySelectorAll('.desire-grid > *');
        input.addEventListener('input',function(e){

            for(let tag of tags){

                tag.style.display = 'block';
                let name = tag.querySelector('h2').textContent.toLowerCase();
                let content = tag.textContent.toLowerCase();
                let value = e.target.value.toLowerCase();

                // if anywhere in content we show
                if(! content.includes(value) ){
                    tag.style.display = 'none';
                }

                let items = tag.querySelectorAll('ul li');
                for(let item of items){
                    item.style.display = 'list-item';
                    let item_name = item.textContent.toLowerCase();

                    // if in the list not in the tag
                    if(!name.includes(value) && !item_name.includes(value)){
                        item.style.display = 'none';
                    }
                }
                
            }
        });
    </script>

    <script src='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/condensed-titles.js'></script>
    <script>
        setup_titles();
    </script>

{% endblock %}
