{% extends "base.html" %}

{% block title %}{{ super() }} &middot; {{ DATA_CONFIG['cifasotheque']['main'][DEFAULT_LANG]['name'] }}{% endblock %}

{% block head %}
    {{ super() }}
    {# TODO: meta-data to add? #}
    <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/css/cifasotheque.css" />
{% endblock %}

{% block body_class %}
    {{ super() }}
    solid cifasotheque
{% endblock %}

{% block content %}

    {% set cifasotheque_categories = (categories|get_cat('cifasotheque')|first)[0].children %} 

    <header class="shelf__header">
        <h1 class="shelf__short">{{ DATA_CONFIG['cifasotheque']['main'][DEFAULT_LANG]['description'] }}</h1>
    </header>
    
    {% set vitrine = [] %}

    <main class="big-grid">
        {% for cat in cifasotheque_categories %}

            {% if cat.shortname in DATA_CONFIG['cifasotheque'] %}
                {% set cat_meta = DATA_CONFIG['cifasotheque'][cat.shortname][DEFAULT_LANG] %}
            {% else %}
                {% set cat_meta = {'name': cat.shortname, 'description': ''} %}
            {% endif %}

            <h2>{{cat_meta.name}}</h2>

            {% set vitrine_cat = articles|get_vitrine(cat, 3) %}

            {% for article in vitrine_cat %}

                {% with layout = 'flow' %}
                    {% include 'partials/block.html' %}
                {% endwith %}

                {{ vitrine.append(article) or "" }}

            {% endfor %}

            {% endfor %}
        </main>
        
        
    {% set vitrine_tags = vitrine|get_common_tags %}

    <footer>
        {% if vitrine_tags|length > 0 %}
        <div class="shelf__tags block__tags">
            <ul class="block__list block__list--gap deactivate-pannel">
                {% for tag in vitrine_tags %}
                <li>
                    <div class="small-pannel olive">{{ tag }}</div>
                 </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </footer>
    

    <script src='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/condensed-titles.js'></script>
    <script>
        setup_titles();
    </script>

{% endblock %}



{# LES TIROIRS #}
            
            {#
            <div class="shelf__drawers">


                        

                        <div class="drawer__content">
                            {% for article in shelf_articles %}
                                {% include 'partials/small_block.html' %}
                            {% endfor %}
                        </div>
                    </details>
    
                {% endfor %}
            </div>
            #}