{% set full_program = articles|selectattr("category", "equalto", article.category) %}
{% set has_index = articles|selectattr("category", "equalto", article.category)|has_index %}
{% set program = articles|selectattr("category", "equalto", article.category)|remove_index %}
{% set index = articles|selectattr("category", "equalto", article.category)|get_index %}

{% set cifasotheque = 'cifasotheque' in article.category.ancestors %}
{% set inside_article = not layout == 'flow' %}

{# ==================== MACROS IN THE BLOCK ==================== #}

{# --- LANG MENU --- #}
{% macro lang_menu(article) %}
<ul class="sub-nav nav__langs txt-content no-links border-pad--full">
    {% for lang, lang_url in lang_siteurls.items() %}
        <li>
            <a  class="sub-nav__lang {% if DEFAULT_LANG == lang %}active{% endif %}"
                {% if DEFAULT_LANG == lang %}
                    href='{{ article.url }}'
                {% else %}
                    href='{{ article.translations|selectattr("lang", "equalto", lang)|first|attr("url") }}'
                {% endif %}>
                {{ lang }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endmacro %}

{# --- TITLE --- #}
{% macro title(article) %}
<div class="block__title olive-big">
    <a href="{{ article.url }}" class="border-pannel">
        <div class="title-wrapper">
            <h2 class="pseudo-condensed">
                {{ article.title }}
            </h2>
        </div>
    </a>
</div>
{% endmacro %}

{# --- COVER IMAGE WITH CREDIT --- #}
{% macro cover(article) %}
{# if event has no cover, and is sub-event, default to the one of their index #}
{% if not article.cover and index %}
    {% set cover = index.cover %}
{% else %}
    {% set cover = article.cover %}
{% endif %}
{% if cover %}
<figure class="block__cover">
    {% set same_path = article.category.ancestors[1]%}
    <div class="img-wrapper">
        <a title="" href="{{ article.url }}">
            {% set src = '/images/' +  same_path|string + '/' + cover|string %}
            <img class="image-process-calendar" src="{{ src|urlencode }}">
        </a>
    </div>
    {% if article.cover_credits %}
    <figcaption class="img-credits">
        {{article.cover_credits}}
    </figcaption>
    {% endif %}
</figure>
{% endif %}
{% endmacro %}


{# --- AUTHORS or TYPES --- #}
{% macro authors_types(article) %}

{# show authors only for 'outils' #}
{% if article.authors != ['Cifas'] and 'outils' in article.category.slug %}
    <ul class="block__list block__authors olive">
        {% for auth in article.authors %}<li>{{auth}}</li>{% endfor %}
    </ul>
{% endif %}

{# show type only for 'events' #}
{% if article.type and 'event' in article.category.ancestors %}
    <ul class="block__list block__types olive-up">
        {% for cat in article.type.split(", ") %}<li>{{cat}}</li>{% endfor %}
    </ul>
{% endif %}

{% endmacro %}


{# --- DATES --- #}
{% macro article_dates(article) %}
<div class="block__dates olive">
{% if not inside_article %}
    {% if article.event_dates_full %}
        {% with dates_full = true %}
            {% include 'partials/dates.html' %}
        {% endwith %}
    {% else %}
            {% include 'partials/dates.html' %}
    {% endif %}
{% else %}
    {% with dates_full = true, show_time = true %}
        {% include 'partials/dates.html' %}
    {% endwith %}
{% endif %}
</div>
{% endmacro %}

{# --- ACCESS --- #}
{% macro access(article) %}
{% if article.event_access %}
<div class="block__dates olive event__access">
    {% if article.event_form %}
        <a href="#event__form">{{ article.event_access }}</a> 
    {% else %} 
        {{ article.event_access }} 
    {% endif %}
    {% if article.event_access_date %}
        {{ DATA_CONFIG[DEFAULT_LANG]['event_deadline'] }}
        {% with deadline = true %}
            {% include 'partials/dates.html' %}
        {% endwith %}
    {% endif %}
</div>
{% endif %}
{% endmacro %}

{# --- ADDRESS --- #}
{% macro address(article) %}
{% if article.address %}
    {% if article.address is string %}
        <div class="event__address">{{ article.address }}</div>
    {% else %}
        <div class="event__address">
            {% for address in article.address %}
                {% if address is string %}
                    <p>{{ address }}</p>
                {% else %}
                    {% for name, add in address.items() %}
                    <dl>
                        <dt class="address_name">{{ name }}</dt>
                        <dd class="address_location">{{ add }}</dd>
                    </dl>
                    {% endfor %}
                {% endif %}
            {% endfor %}
                </div>
    {% endif %}
{% endif %}
{% endmacro %}

{# --- PROGRAM --- #}
{% macro article_program(article) %}
{% if program|length > 0 and has_index %}

<div class="event__program no-hover-links color-links">

    <a class="border-pad olive txt-content" href="{{ index.url }}">
        {{ DATA_CONFIG[DEFAULT_LANG]['event_program'] }}
        {{ index.title }}
    </a>

    <ul>
    {% for sub_article in program %}
        <li class="subevent">
            <a href="{{ sub_article.url }}" class="{% if sub_article == event %}active{% endif %}">
                <div class="border-pad">
                    <div class="block__dates txt-content olive">
                    {% with article = sub_article, show_time = true %}
                        {% include 'partials/dates.html' %}
                    {% endwith %}
                    </div>

                    <div class="block__title olive-up">
                        <div class="title-wrapper">
                            <h2 class="pseudo-condensed">
                                {{ sub_article.title }}
                            </h2>
                        </div>
                    </div>
                </div>
            </a>

        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endmacro %}


{# --- TAGS LINE --- #}
{% macro tags_line(article) %}
{% if article.tags|length > 0 %}
<div class="block__tags txt-content deactivate-pannel">
    <ul class="block__list block__list--gap block__list--one">
        {% for tag in article.tags %}
        <li>
            <div class="small-pannel olive">{{ tag }}</div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endmacro %}

{# --- TAGS & AUTHORS --- #}
{% macro tags_authors(article) %}

{% if article.tags|length > 0 %}
<div class="block__tags txt-content">
    <p>{{DATA_CONFIG[DEFAULT_LANG]['desire_paths'][0]['name']}}</p>
    <label for="show_words" class="show_label"></label>
    <input id="show_words" type="checkbox" class="show_checkbox">
    <ul class="block__list block__list--gap">
        {% for tag in article.tags %}
        <li>
            <a  href="{{DATA_CONFIG[DEFAULT_LANG]['desire_paths'][0]['link']}}#{{ tag.slug }}"
                class="small-pannel olive">{{ tag }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if article.authors != ['Cifas'] %}
<div class="block__authors txt-content">
    <p>{{DATA_CONFIG[DEFAULT_LANG]['desire_paths'][1]['name']}}</p>
    <label for="show_people" class="show_label"></label>
    <input id="show_people" type="checkbox" class="show_checkbox">
    <ul class="block__list block__list--gap">
        {% for author in article.authors %}
        <li>
            <a  href="{{DATA_CONFIG[DEFAULT_LANG]['desire_paths'][1]['link']}}#{{ author.slug }}"
                class="small-pannel olive">{{ author }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endmacro %}

{# ==================== PRINTING THE BLOCK ==================== #}

{# if not inside article it's a simple <div> #}
{% if not inside_article %}
<div  class="block block--flow 
            {% for ancestor in article.category.ancestors %}
                article--{{ ancestor.shortname }}
            {% endfor %}">

    {{title(article)}}

    {{cover(article)}}

    {# --- TEXT FOR DATES, CATEGORIES, SHORT --- #}
    <div class="block__text txt-content">
        {{authors_types(article)}}

        {% if not 'outils' in article.category.slug %}
            {{article_dates(article)}}
        {% endif %}

        {# only put access if there is a date (deadline) #}
        {% if article.event_access_date %}
            {{access(article)}}
        {% endif %}

        {% if article.category.ancestors[0] == 'event' %}
            {% if article.trace or program|selectattr('trace')|list|length > 0 %}
            <div class="has_traces small-pannel">
                {{ DATA_CONFIG[DEFAULT_LANG]['traces_name'] }}
            </div>
            {% endif %}
        {% endif %}

        {# put the summary #}
        <div class="block__short">
            {{ article.summary }}
        </div>

        {# "voir plus" #}
        <a href="{{ article.url }}">{{ DATA_CONFIG[DEFAULT_LANG]['event_more'] }}</a>
    </div>

    {# tags line only for events #}
    {% if 'event' in article.category.ancestors %}
        {{tags_line(article)}}
    {% endif %}
</div>

{# ==================== PRINTING THE COLUMN ==================== #}

{# otherwise it's a <details> for mobile usage #}
{% else %}
<details class="block block--column" open>

    <summary class="txt-content olive">
        {% if 'outils' in article.category.slug %}
        <h2 class="desire-path small-pannel olive">
            {{ DATA_CONFIG[DEFAULT_LANG]['cifasotheque_info'] }}
        </h2>
        {% elif 'event' in article.category.slug %}
            {{ DATA_CONFIG[DEFAULT_LANG]['event_info'] }}
        {% else %}
            {{ DATA_CONFIG[DEFAULT_LANG]['cifasotheque_info'] }}
        {% endif %}
    </summary>

    {% if 'outils' in article.category.slug %}
    <div class="details__cifasotheque">
    {% endif %}

        {{lang_menu(article)}}

        {% if article.document_full or 'publications' in article.category.slug %}
            {{title(article)}}
        {% endif %}

        {# --- TEXT FOR DATES, CATEGORIES, SHORT --- #}
        <div class="block__text txt-content">
            {{article_dates(article)}}
            {{access(article)}}
            {{address(article)}}

            {% if article.document_full or 'publications' in article.category.slug %}
            <div class="block__short txt-content olive">
                {{ article.summary }}
            </div>
            {% endif %}
        </div>

        {# put the summary and whole text on the side for publications #}
        {% if article.document_full or 'publications' in article.category.slug %}
        <div class="block__markdown txt-content">
            {{ article.content }}
        </div>
        {% endif %}

        {{article_program(article)}}

        {{tags_authors(article)}}

    {% if 'outils' in article.category.slug %}
    </div>
    {% endif %}

</details>
{%endif%}



