
{# --- DATE SYSTEM --- #}

{% macro date(d) %}

    {% if 'publication' in article.category.slug or 'outils' in article.category.slug %}
        {# it's a simple year #}
        <td>{{ d[0]['d']|strftime('%Y') }}</td>

    {% elif d|length == 2 %}  

        {# it's a range date #}
        <td><time class="date" datetime="{{ d[0]['d'].isoformat() }}">{{ d[0]['d']|strftime('%d') }}</time></td>
        <td>{{ d[0]['d']|strftime('%b') }}</td>

        <td class="range-date"></td>

        <td><time class="date" datetime="{{ d[1]['d'].isoformat() }}">{{ d[1]['d']|strftime('%d') }}</time></td>
        <td>{{ d[1]['d']|strftime('%b') }}</td>
        <td>{{ d[1]['d']|strftime('%Y') }}</td>
    
    {% elif d|length == 1 %}

        {# it's a simple date #}
        <td><time class="date" datetime="{{ d[0]['d'].isoformat() }}">{{ d[0]['d']|strftime('%d') }}</time></td>
        <td>{{ d[0]['d']|strftime('%b') }}</td>
        <td>{{ d[0]['d']|strftime('%Y') }}</td>
        
    {% endif %}

{% endmacro %}

{% macro time(d) %}

    <td class="separator"></td>

    {% if 't' in d[0] and d[0]['t']|length == 2 %}

        <td>{{  d[0]['t'][0]|strftime('%Hh%M') }}</td>

        <td class="range-time"></td>

        <td>{{  d[0]['t'][1]|strftime('%Hh%M') }}</td>

    {% elif 't' in d[0] and d[0]['t']|length == 1 %}

        <td>{{ d[0]['t'][0]|strftime('%Hh%M') }}</td>

    {% endif %}

{% endmacro %}


{% if article.event_dates and not deadline %}

    {% if dates_full %}

    {% set has_time = article.event_dates['has_time'] %}

    {# --- FULL TABLE --- #}

        <table class="{% if has_time %}has-time{% endif %}">

        {% for d in article.event_dates['full'] %}
            <tr class='date-row'>

                {% if 'free' in d %}
                    {# it is a free field date #}
                    <td class="date-cell free">{{ d.free }}</td>
                {% else %}
                    {# the date has been parsed #}
                    {{ date(d) }}

                    {% if has_time and show_time %}
                        {{ time(d) }}
                    {% endif %}

                {% endif %}

            </tr>
        {% endfor %}
        </table>

    {% else %}
        {# --- ONLY GLOBAL RANGE --- #}

        {# a table of one tr lol #}
        <table>
            <tr class='date-row'>

                {% if article.event_dates['min'] != article.event_dates['max'] %}
                    {% set d = [article.event_dates['min'], article.event_dates['max']] %}
                {% else %}
                    {% set d = [article.event_dates['min']] %}
                {% endif %}

                {{ date(d) }}

            </tr>
        </table>
    {% endif %}

{% elif deadline %}

    <table>
        <tr class='date-row'>
            {% set d = [{'d': article.event_access_date|to_date}] %}
            {{ date(d) }}
        </tr>
    </table>

{% else %}

    <table>
        <tr class='date-row'>
            {% set d = [{'d': article.date}] %}
            {{ date(d) }}
        </tr>
    </table>

{% endif %}