<div class="main-nav">
    <nav class="nav-box olive">

        <ul class="big-nav">
            {% for item in MENUITEMS %}

                {# HOME WITH SUB #}
                {% if item[2] == "home" %}

                    {% if page_name == 'index' %}
                    
                    <li id="nav-cifas">
                        <ul class="sub-nav nav__langs txt-content no-links border-pad--full">
                            {% for lang, lang_url in lang_siteurls.items() %}
                                <li>
                                    <a class="sub-nav__lang {% if DEFAULT_LANG == lang%}active{% endif %}" href="{{ lang_url }}">
                                        {{ lang }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                        {# main logo #}
                        <div class="nav-item no-hover-links">
                            <a href="/{{ DEFAULT_LANG }}/{{ item[1] }}" class="logo-wrapper">
                                <img class="logo" src="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/cifas-logo-baseline-autour-outlined_{{DEFAULT_LANG}}.svg">
                            </a>
                        </div>
                        
                        <details class="nav__pages sub-nav txt-content no-links" open>
                            <summary class="txt-content olive">
                                {{ DATA_CONFIG[DEFAULT_LANG]['page_menu'] }}
                            </summary>

                            <ul class="">
                                {% for p in pages|sort(attribute='order') %}
                                    <li>
                                        <a class="sub-nav-item" href="{{ p.url }}">{{ p.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </details>

                    </li>

                    {% else %}

                    <li id="nav-cifas" class="no-hover-links">
                        <a class="nav-item logo-wrapper" href="/{{ DEFAULT_LANG }}/{{ item[1] }}">
                            <img class="logo" src="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/cifas-logo-black.svg">
                        </a>
                    </li>

                    {% endif %}

                {# LIQUID / SOLID #}
                {% else %}
                    <li id="nav-{{ item[2] }}" class="{{item[2]}} {% if page_name != 'index' %}no-hover-links{% endif %}">
                        <a class="nav-item {% if page_name == 'index' %}olive-big{% endif %}" href="/{{ DEFAULT_LANG }}/{{ item[1] }}">
                            <span>{{ item[0] }}</span>
                        </a>
                        {% if page_name == 'index' %}
                            <div class="shapes-container">
                                <img src="#">
                            </div>
                            <figcaption class="img-credits">
                            </figcaption>
                        {% endif %}
                    </li>
                {% endif %}

            {% endfor %}
        </ul>

        {# DESIRES PATHS #}
        {% if page_name == 'index' %}
        <ul class="desire-paths">
            {% set desire_paths = DATA_CONFIG[DEFAULT_LANG]['desire_paths'] %}
            {% for item in desire_paths %}
                <li class="no-hover-links">
                    <a class="nav-item" href="{{ item['link'] }}">
                        {{ item['name'] }}
                    </a>
                </li>
            {% endfor %}
            <h2 class="desire-path small-pannel">
                {{ DATA_CONFIG[DEFAULT_LANG]['desire_paths_name'] }}
            </h2>
        </ul>
        {% endif %}
    </nav>

    {% if output_file in cifasotheque_files %}
    {# main navigation of the cifasotheque #}
    <nav class="nav-box no-hover-links">
        <ul class="big-nav small-nav">
            {% for item in cifasotheque_menu %}
            <li>
                <a class="nav-item {% if output_file in item['link'] %}active{% endif %}" 
                   href="/{{DEFAULT_LANG}}/{{item['link']}}">
                   <span>{{item['name']}}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}

</div>

{% if page_name == 'index' %}
    <script>
        let prefix = "/shapes";
        let liquid_shapes = {{ LIQUID_SHAPES|tojson|safe }};
        let solid_shapes = {{ SOLID_SHAPES|tojson|safe }};

        let liquid_img     = document.querySelector('#nav-liquid img');
        let liquid_caption = document.querySelector('#nav-liquid figcaption');
        let solid_img      = document.querySelector('#nav-solid img');
        let solid_caption  = document.querySelector('#nav-solid figcaption');

        function place_shapes(type, shapes, img, caption){
            let shape = shapes[Math.floor(Math.random()*shapes.length)];
            img.src = [prefix,type,shape].join('/');
            caption.innerHTML = shape.split('.')[0];
        }

        place_shapes("liquid", liquid_shapes, liquid_img, liquid_caption);
        place_shapes("solid", solid_shapes, solid_img, solid_caption);

    </script>
{% endif %}