{% if article.category.ancestors[0] == 'event' %}

{% set full_program = articles|selectattr("category", "equalto", article.category) %}
{% set has_index = articles|selectattr("category", "equalto", article.category)|has_index %}
{% set program = articles|selectattr("category", "equalto", article.category)|remove_index %}
{% set index = articles|selectattr("category", "equalto", article.category)|get_index %}

{% endif %}


<div class="txt-content small-block" id="{{article.slug}}">
    
    <div class="block__text">

        {# TITLE #}
        <a class="small-pannel olive block__title" href="{{article.url}}">
            <div class="title-wrapper">
                <h2 class="pseudo-condensed">
                    {{ article.title }} 
                </h2>
            </div>
        </a>
            
        {% if article.authors != ['Cifas'] and 'outils' in article.category.slug %}
            {# AUTHORS #}
            <ul class="block__list block__authors olive">
                {% for auth in article.authors %}<li>{{auth}}</li>{% endfor %}
            </ul>
        {% endif %}

        {# CATEGORY #}
        {% if article.type and 'event' in article.category.slug %}
            <ul class="block__list block__types olive">
                {% for cat in article.type.split(", ") %}<li>{{cat}}</li>{% endfor %}
            </ul>
        {% endif %}

        {# DATES #}
        <div class="block__dates olive">
            {% include 'partials/dates.html' %}
        </div>

        {% if article.category.ancestors[0] == 'event' %}
            {% if article.trace or program|selectattr('trace')|list|length > 0 %}
            <div class="has_traces small-pannel">
                {{ DATA_CONFIG[DEFAULT_LANG]['traces_name'] }}
            </div>
            {% endif %}
        {% endif %}

    </div>
    
    {% if article.cover %}
    <figure class="block__cover">
        {% set same_path = article.category.ancestors[1]%}
        <a title="" href="{{ article.url }}">
            {% set src = '/images/' +  same_path|string + '/' + article.cover|string %}
            <img class="image-process-calendar" src="{{ src|urlencode }}">
        </a>
    </figure>
    {% endif %}

    {# SHORT #}
    {% if article.summary %}
        <div class="block__short">
            {{ article.summary|md_parse }}
        </div>
    {% endif %}
    
    {% if article.category.ancestors[0] == 'event' %}

    {# --- PROGRAM --- #}
    {% if program|length > 0 and has_index %}
    <div class="event__program">
    <ul>
        {% for sub_event in program %}
            <li class="subevent">
                <a class="small-pannel" href="{{sub_event.url}}">
                    <div class="title-wrapper">
                        <h2 class="pseudo-condensed">
                            {{ sub_event.title }} 
                        </h2>
                    </div>
                </a>
                <div class="block__dates olive">
                {% with article = sub_event %}
                    {% include 'partials/dates.html' %}
                {% endwith %}
                </div>
            </li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}

    {% endif %}

</div>