
{# main navigation of the cifasotheque #}
<nav class="theque__nav nav-box no-hover-links">
    <ul class="">
        <li>
            <a class="nav-item archives-nav" href="archives.html">
                Archives
            </a>
        </li>
        <li>
            <a class="nav-item botin-nav" href="cifasotheque/botin.html">
                Botin
            </a>
        </li>
        <li>
            <a class="nav-item glossaire-nav" href="cifasotheque/glossaire.html">
                Glossaire
            </a>
        </li>
    </ul>
</nav>