/* ARTICLE basics
============================================================= */

.article{
    display: grid;
    grid-template-columns: var(--left-column-width) 1fr;
}
.article__header{
    position: relative;
    max-width: 100vw;
    border-right: var(--border);
}

/* only on article not on page */
.article .title-container{
    margin-top: calc(var(--lh) * 1);
}
/* so baseline sit on image */
.article figure + .title-container{
    margin-top: 0;
    overflow: initial;
}
.article figure + .title-container .block__title{
    margin-top: -1.25em;
}

.article-wrapper{
    --max-article-width: 100vw;

    padding-bottom: var(--pad-big);
    max-width: var(--max-article-width);
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.article--publication .article-wrapper.document-full {
    height: 82vh;
}
.txt-content > .event__article-head {
    margin: calc(var(--lh) * 1) 0;
}


/* one column and remove sticky */
@media only screen and (max-width: 66rem) {
    .article{
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (max-width: 54rem) {
    .article{
        grid-template-columns: 100%;
    }
    .article__header{
        border-right: 0;

        position: sticky;
        top: var(--body-start);
        z-index: 990;
        background: var(--c-back);
    }

    .txt-content > .event__article-head {
        padding-right: calc(var(--lh) * 1);
    }
}


/* IMAGE PLACEMENT inside article
------------------------------------------------------------- */

.txt-content figure{
    /* for figcaption */
    display: table !important;
}
.txt-content--long:not(.event__trace) figure{
    float: right;
    margin-left: calc(var(--pad) * 3);
    
    margin-top: calc(var(--lh) * 0.25);
    margin-bottom: calc(var(--lh) * 0.5);
    
    /* smart margin to magnetize to the right of the screen */
    --container-width: min(calc(100vw - var(--left-column-width)), var(--max-article-width));
    --remaining-space: calc(var(--container-width) - var(--max-text-width) - var(--pad-big));
    margin-right: calc(-1 * var(--remaining-space) + calc(var(--lh) / 2) + var(--border-width));
}

.txt-content img{
    display: block;
    max-height: calc(var(--max-img-size) * 1.25);
    max-width: calc(var(--left-column-width) + calc(var(--pad) * 3));

    /* if image not showing */
    background: var(--c-ether);
    box-sizing: border-box;
}

/* clearfix */
.txt-content--long figure,
.txt-content--long:after{
    content: '';
    display: block;
    clear: both;
}

@media only screen and (max-width: 54rem) {
    .txt-content--long:not(.event__trace) figure{
        float: none;
        margin: var(--lh) calc(-1 * var(--pad));
        margin-left: auto;
    }
    .txt-content img{
        max-width: 100%;
        margin-left: auto;
    }
    .txt-content--long figure,
    .txt-content--long:after{
        content: none;
    }
}


/* FORM
------------------------------------------------------------- */

.event__form,
.article__document{
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

iframe,
object{
    height: 75vh;
    border: var(--border);
    max-width: 100%;
    margin-top: var(--lh);
}

.document-full iframe{
    border: none;
    position: absolute;
    inset: 0;
    height: 100%;
    margin-top: 0;
}
.document-full{
    padding: 0 !important;
}
@media only screen and (max-width: 54rem) {
    .document-full{
        height: calc(100vh - calc(3 * var(--nav-space)) - calc(4 * var(--lh)) - calc(var(--border-width) * 2));
        height: calc(100dvh - calc(3 * var(--nav-space)) - calc(4 * var(--lh)) - calc(var(--border-width) * 2));
    }
}


/* PAGES
------------------------------------------------------------- */

.page .article__header{
    background-color: var(--c-ether);
}
.page .logo-wrapper,
.page .logo-wrapper:hover{
    padding-top: calc(var(--lh) * 1);
    margin-bottom: calc(var(--lh) * -1);
    padding-bottom: 0;
    bottom: 0;
}
.page .logo-wrapper img{
    height: 8em;
    margin: auto;
}
.page .txt-content--long{
    margin-top: calc(var(--lh) * 2);
}
.page details summary{
    --c-back: var(--c-ether);
}

/* TRACES
------------------------------------------------------------- */

.event__trace{
    border-top: var(--border);
    border-bottom: var(--border);
    padding-top: var(--lh);
    padding-bottom: 0;
    max-width: 100%;
    margin: var(--lh) 0;
    background-color: var(--c-ether);
    position: relative;
}
.trace__gallery{
    display: flex;
    overflow-x: auto;
    gap: var(--pad);
    padding: 0 4rem;

    padding-bottom: var(--lh);
    margin-bottom: 0;
    align-items: flex-start;
}
.trace__gallery > figure{
    flex-shrink: 0;
}
.trace__arrow{
    position: absolute;
    background-color: white;
    border: var(--border);
    border-style: solid !important;
    padding: 0 0.6rem;
    border-radius: 0.4rem;
    height: var(--lh);
    text-align: center;
    box-sizing: border-box;
    top: calc(50% - var(--lh));
    cursor: pointer;
    line-height: 1.2;
}
.trace__arrow.left{
    left: var(--pad);
}
.trace__arrow.right{
    right: var(--pad);
}
.event__trace h2{
    margin-top: calc(var(--lh) * -1.5) !important;
}

/* CIFASOTHEQUE 
------------------------------------------------------------- */

/* OUTILS */
.article--outils{
    display: block;
}

/* article in the cifasotheque are bigger */
.article--outils .article-wrapper > *{
    box-sizing: content-box;
    max-width: 34em;
    font-size: var(--fs-up);
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
}
.article--outils .txt-content--long{
    padding-top: calc(var(--lh) * 1.5);
    padding-bottom: 2em;
}
.article--outils p + p,
.article--outils iframe + p{
    margin-top: calc(var(--lh) * 1.5);
}
.article--outils iframe{
    margin: 0;
    width: 100%;
    height: revert-layer;
    background: var(--c-ether);
}

/* SOURCE is bigger */
.article--outils p.source{
    background-color: var(--c-main);
    padding: var(--pad);
    border-radius: var(--radius);
}
/* BIO have borders */
.article--outils p.bio{
    font-size: 1rem;
    line-height: var(--lh);
}


/*  cifasotheque bottom outils navigation
    ------------------------------------------------------------------ */

.article--outils summary h2,
.details__cifasotheque{
    display: contents;
}
.details__cifasotheque > *:first-child{
    border-top: var(--border);
}


@media screen and (min-width: 54rem) {
    .article--outils summary h2, 
    .details__cifasotheque {
        display: block;
    }
    .article--outils .article__header{
        position: fixed;
        border: 0;
        bottom: var(--nav-space);
        left: var(--nav-space);
        right: var(--nav-space);
        height: var(--header-height);
        background: white;
        z-index: 100;
    }
    .article--outils .sticky{
        overflow: visible;
        height: 100%;
    }
    .article--outils .sticky > details{
        padding-bottom: 0;
        overflow: visible;
    }
    .article--outils details summary{
        padding: 0 !important;
    }
    .article--outils details summary h2{
        font-family: var(--f-olive);
    }
    .details__cifasotheque{
        display: flex;
        padding: 0;
        max-height: var(--header-height);
        overflow: visible;
        margin: 0;
    }
    .details__cifasotheque > *{
        flex: 1;
        border-top: 0 !important;
        padding: calc(var(--lh) * 0.5) var(--pad);
        margin: 0;
        overflow: visible;
    }
    .details__cifasotheque > *:not(ul){
        display: flex;
        justify-content: center;
    }
    .details__cifasotheque > *:not(:last-child){
        border-right: var(--border);
    }
    .details__cifasotheque p{
        margin: 0 !important;
    } 
    
    /* hide and show on click system */
    .details__cifasotheque ul.block__list{
        display: none;
    }
    .block__authors,
    .block__tags{
        position: relative;
    }
    .article--outils .show_label{
        position: absolute;
        inset: 0;
        z-index: 999;
        margin: 0;
        cursor: pointer;
    }
    .article--outils .show_label + p{
        border-bottom: var(--border);
        border-style: dotted;
        transition: 0.15s;
        position: relative;
    }
    .article--outils .show_label + p:hover{
        bottom: 0.1em;
        padding-bottom: 0.1em;
    }
    .article--outils .show_checkbox:checked + ul.block__list{
        display: flex;
        position: absolute;
        bottom: calc(100% + var(--border-width));
        top: auto;
        left: calc(var(--border-width) * -1);
        right: calc(var(--border-width) * -1);
        background: var(--c-back);
        border: var(--border);
        border-bottom: 0;
        padding: calc(var(--lh) * 0.5) var(--pad) !important;
    }
}

.show_checkbox{
    display: none;
}




/* publications */
.article--publications{
    --left-column-width: min(40rem, 35vw);
}

/* BOTIN & GLOSSAIRE */

/* remove grid */

#botin .txt-content--long,
#glossaire .txt-content--long{
    max-width: 100%;
}
#botin.article,
#glossaire.article{
    display: block;
}
#botin .txt-content--long > div,
#glossaire .txt-content--long > div{
    margin: 0;
}
/* reduce H3 margin */
#botin .txt-content--long h3,
#glossaire .txt-content--long h3,
#botin .txt-content--long h2,
#glossaire .txt-content--long h2{
    margin: 0;
}

/* glossaire */

#glossaire .txt-content--long h2{
    font-size: var(--fs-big);
    scroll-margin: calc(var(--body-start) + var(--lh));
}
#glossaire .txt-content--long > div{
    display: grid;
    grid-template-columns: 20rem 1fr;
    gap: 0 var(--pad-big);
    align-items: start;
    margin-bottom: var(--lh);
    padding-bottom: var(--lh);
    border-bottom: var(--border);
}
#glossaire .txt-content--long > div > div{
    max-width: var(--max-text-width);
}

#glossaire .txt-content--long h2,
#glossaire .txt-content--long h2 + h3,
#glossaire .txt-content--long blockquote{
    margin-bottom: calc(var(--lh) *0.5);
}
#glossaire .txt-content--long blockquote{
    font-family: var(--f-olive);
    font-size: 1em;
    box-sizing: border-box;
    display: block;
    background-color: var(--c-main);
    padding: 0.2rem 0.6rem;
    border-radius: 0.4rem;
}

/* botin */

#botin .txt-content--long{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--lh) * 1.5) var(--pad);
}
#botin .txt-content--long h2{
    grid-column: 1 / -1;
}
#botin .txt-content--long h2:not(:first-of-type){
    margin-top: var(--lh);
}
#botin .txt-content--long > div{
    display: grid;
    grid-template-columns: 12rem 1fr;
    gap: calc(var(--lh) * 0.25) var(--pad);
    grid-auto-rows: min-content;
}
@media screen and (max-width: 54rem) {
    #botin .txt-content--long{
        grid-template-columns: 1fr;
    }
    #botin .txt-content--long > div{
        grid-template-columns: 8rem 1fr;
    }
    #glossaire .txt-content--long > div{
        grid-template-columns: 1fr;
    }
}
