
/* standard display of block - in one column */
.block{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
}
/* past blocks */
.past .block{
    --c-main: var(--c-ether-more);
}

.block__title{
    overflow: hidden;
}

.block__cover{
    padding-bottom: calc(var(--lh) * 0.5);
}

.block__short > *:not(:first-child){
    display: none !important;
}

/*  EVENT ONLY
    ========================================================    */

.event__address li:not(:first-of-type),
.event__address tr:not(:first-of-type) td{
    padding-top: calc(var(--lh) / 2);
}
.address_name{
    white-space: nowrap;
}

.event__access{
    margin-top: 0;
}
.event__access table{
    display: inline-table;
}
.block__dates{
    margin-bottom: 0;
}
.details__content{
    display: contents;
}

/*  DATES TABLE
    ========================================================    */

.block  table{
    width: 100%;
}
.block__dates table{
    width: 1%;
}

.block__dates td:not(:first-of-type){
    padding-left: 0.2em;
}
.block__dates td{
    white-space: nowrap;
}
td.range-date::after{
    content: "\202F·····\202F";
    font-size: 1.5em;
    position: relative;
    top: 0.1em;
    line-height: 0;
}
td.range-time::after{
    content: '·';
    font-size: 1.5em;
    position: relative;
    top: 0.1em;
    line-height: 0;
}
td.separator{
    width: 100%;
}
td.separator::after{
    content: '';
    border-bottom: var(--border);
    width: 100%;
    display: block;
}


/*  LISTS
    ========================================================    */

/*  list 
    (think category like walk, workshops, etc) */
.block__list,
.toc ul{
    padding: 0 !important;
    list-style: none !important;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;
}

/* cave for category */
.block__types li:not(:first-of-type)::before{
    content: url('../caves/cave13.svg');
    margin-right: 0.4em;
}
.block__types li{
    margin-right: 0.4em;
}

/* cave for authors */
.block__authors::before{
    content: url('../caves/cave2.svg');
    margin-right: 0.4em;
    float: left;
}

/* cave for tags */
.block__tags::before{
    content: url('../caves/cave20.svg');
    margin-right: 0.4em;
    float: left;
}

/* think clickable tags and authors */
.block__list--gap{
    gap: calc(var(--lh) * 0.25);
}

/* hidding system if list in one line is too long */
.block__list--one{
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
}
.block__list--one::after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    background: linear-gradient(to right, transparent, var(--c-back));
}
.block__list--one li{
    white-space: nowrap;
}

@media only screen and (max-width: 36rem){
    td.range-date::after {
        content: "·";
    }
}


/*  CALENDAR ONLY
    ========================================================    */

/* on the calendar - 2 columns */
.block--flow{
    grid-template-columns: 1fr 1fr;
    gap: 0 calc(var(--pad) * 6);
}
.block--flow::after{
    content: '';
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    display: block;
    width: 100%;
    height: 100%;
    border-left: var(--border);
    border-bottom: var(--border);
    border-bottom-left-radius: var(--radius);
    z-index: 50;
    pointer-events: none;
    box-sizing: border-box;
}

.block--flow .block__tags{
    max-width: 100%;
    overflow: hidden;

    grid-column: 1 / span 2;
    padding-left: calc(var(--pad) * 1.5);
    padding-top: calc(var(--lh) * 0.25);
}

.block--flow .block__cover{
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}
.block--flow .block__cover{
    display: grid;
    grid-template-rows: 1fr auto;
}
.block--flow .block__cover .img-wrapper{
    position: relative;
}
.block--flow .block__cover .img-wrapper a{
    position: static;
}
.block--flow .block__cover img{
    position: absolute;
    bottom: 0;

    /* since the event_cover has same width for every block
    every images have the same width */
    max-width: 100%;

    /* but event_cover height depends on the text content
    so we put a defined number to make them have the same bounding box */

    display: block;
    object-fit: contain;
    object-position: center bottom;

    left: 0;
    top: 0;
    right: 0;
    object-position: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.block--flow .block__text{
    grid-column: 1 / span 1;
    grid-row: 2;
    position: relative;

    min-height: calc(var(--lh) * 8);

    padding-top: calc(var(--lh) * 0.5);
    padding-bottom: calc(var(--lh) * 0.75);
    padding-left: calc(var(--pad) * 1);
}
.calendar .block--flow .block__text{
    padding-left: calc(var(--pad) * 1.5);
}


@media only screen and (min-width: 1600px ) {
    .block--flow{
        grid-template-columns: 1fr 1.5fr;
        gap: 0 calc(var(--pad) * 8);
    }
}
@media only screen and (max-width: 54rem){
    .block--flow{
        gap: 0 var(--pad);
    }
}
@media only screen and (max-width: 36rem){
    .block--flow{
        gap: 0;
        grid-template-columns: 1fr;
    }
    .block--flow:after{
        grid-row: 2 / span 2;
        grid-column: 1 / span 1;
    }

    .block--flow .block__title,
    .block--flow .block__text,
    .block--flow .block__cover,
    .block--flow .block__tags{
        grid-column: 1 / span 1;
        grid-row: auto;
    }
    .block--flow .block__cover{
        grid-row: 2;
        height: 35vh;
        padding-bottom: 0;
        margin-left: calc(-1 * var(--pad));
        z-index: 55;
    }
    .block--flow .block__cover .img-wrapper{
        margin-bottom: calc(var(--lh) * 0.5);
    }
    .block--flow .block__cover .img-credits{
        padding-top: 0;
    }
    .block--flow .block__text{
        grid-row: 3;
        min-height: 0;
        padding-top: calc(var(--pad) * 0.5);
        padding-right: calc(var(--pad) * 1);
        padding-left: calc(var(--pad) * 1);
        padding-bottom: calc(var(--pad) * 1.5);
    }
    .block--flow .block__title{
        margin-bottom: -0.45em;
        z-index: 950;
        margin-right: var(--pad);
    }
}

/*  ARTICLE ONLY
    ========================================================    */

.block--column{
    padding-bottom: var(--lh);
}
.block--column > *,
.details__cifasotheque > *{
    padding: calc(var(--lh) * 0.5) 0;
    margin: 0 var(--pad);
    max-width: 100%;
    overflow: hidden;
}
.block--column > *:last-child{
    padding-bottom: var(--lh);
}
.block--column .nav__langs{
    margin: 0;
    padding: calc(var(--lh) * 0.5) var(--pad);
    border-bottom: var(--border);
}
.block--column .nav__langs + *{
    border-top: none;
}
.block--column .block__markdown,
.block--column .block__tags,
.block--column .block__authors{
    border-top: var(--border);
}
.block--column .block__dates table.has-time{
    width: 100%;
}
.block--column .block__dates td:not(.separator){
    width: 1%;
}
/* subevent in article */
.block--column .event__program{
    margin: 0 !important;
    padding: 0 !important;
}
.block--column .event__program + *{
    border-top: none !important;
}
.block--column .event__program li.subevent{
    border-bottom: var(--border);
}
.block--column .event__program ul{
    max-width: 100%;
}
.block--column .event__program > *:first-child{
    border-bottom: var(--border);
    border-top: var(--border);
    background: var(--c-ether-more);
}
.block--column .event__program h2.pseudo-condensed{
    margin-left: 0;
}

.block--column figure{
    margin-left: auto;
}
.block--column img{
    max-width: 25rem !important;
}


/* block element put out of column */
.article .block__cover{
    z-index: 0;
    position: relative;
}
.article .block__cover a {
    z-index: 100;
    position: relative;
}
.article .block__cover img{
    width: 100%;
    max-height: var(--max-img-size);
    object-fit: cover;
    object-position: center;
    z-index: 100;
    position: relative;
}
.article .block__cover .img-credits{
    position: absolute;
    right: var(--pad);
    bottom: 0;
    padding-top: 0;
    padding-right: calc(var(--lh) * 0.5);

    transform-origin: right bottom;
    transform: rotate(-90deg);
}
.article .block__types{
    justify-content: center;
    margin-top: calc(var(--lh) * 0.5);
    padding-left: var(--pad);
}

@media only screen and (max-width: 54rem) {
    .block--column{
        padding-bottom: 0;
        position: sticky;
        top: 0;
    }
    .block--column .block__cover .img-credits{
        right: calc(var(--pad) / 2);
        padding-right: calc(var(--lh) * 1.65);
    }

}
@media only screen and (max-width: 54rem) {
    .article .block__cover .img-credits{
        padding-right: calc(var(--lh) * 1.5);
    }
}

/*  VITRINE ONLY
    ========================================================    */

.cifasotheque .olive-big{
    font-size: var(--fs-plus);
}
.cifasotheque .block {
    gap: 0 calc(var(--pad) * 1);
}



/*  SMALL BLOCKS
    ========================================================    */

/* two columns */
.small-block{
    width: 100%;
    max-width: var(--max-text-width);
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: repeat(2, calc((100% - var(--pad)) / 2));
    gap: 0 var(--pad);
}
.small-block.txt-content > *{
    margin: 0;
}

.small-block .block__text{
    grid-column: 1 / span 1;
    z-index: 100;
}

.small-block .block__title{
    margin-bottom: calc(0.5 * var(--lh));
}
.small-block .block__cover{
    grid-column: 2 / span 1;
}
.small-block .block__cover{
    height: calc(var(--lh) * 6);
}
.small-block .block__cover img{
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.small-block .block__short p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.small-block .block__short,
.small-block .event__program{
    grid-column: 1 / span 2;
}

/* subevent in archives */
.small-block .event__program{
    margin-top: calc(var(--lh) * 0.5) !important;
    border-left: var(--border);
    border-left-style: dotted;
}
.small-block .event__program ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.small-block .subevent{
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
}
.small-block .subevent .small-pannel{
    flex-shrink: 1;
    overflow: hidden;
}
.small-block .subevent:not(:last-child){
    margin-bottom: calc(0.25 * var(--lh));
}


.small-block .block__authors li:not(:last-of-type)::after{
    content: ',\00a0';
}


.has_traces{
    background: initial !important;
    border: var(--border) !important;
    border-style: dotted !important;
    margin: calc(var(--lh) * 0.5) 0;
    width: fit-content;
}
