/*  CALENDAR LAYOUT
    ========================================================= */

.calendar{
    display: grid;
    grid-template-columns: 18rem 1fr;
    gap: calc(var(--pad-big) * 2 - var(--pad));
}

/* --- side toc */
.calendar__toc{
    padding-top: var(--pad-big);
    margin: 0 var(--pad);
    overflow-x: hidden;
    width: auto;
}

.calendar__toc summary{
    padding: 0;
    text-align: left;
}
.calendar__toc summary + div{
    padding-top: calc(var(--lh) * 1);
}

ul.toc__list{
    list-style: none;
    padding-left: 0;
}
.toc__list li:not(:last-of-type){
    margin-bottom: calc(0.25 * var(--lh));
}
.toc__list li{
    display: flex;
    gap: 0.4em;
}
.toc__list li .small-pannel{
    flex-shrink: 0;
}
.toc__list li.active::before{
    content: url('../caves/cave17.svg');
}


/* --- events zone */
.calendar__events{
    padding: calc(var(--pad) * 2) 0;
    
    transition: opacity 0.25s;
    padding-right: 0;
}
.calendar__events.sorted{
    opacity: 1;
}


/*  EVENT
    ========================================================= */

.event{
    max-width: 80rem;
    margin-left: auto;

    --anchor-pad: var(--body-start);
    scroll-margin-top: calc(var(--anchor-pad) + var(--pad-big));
}
.event:not(:last-of-type){
    margin-bottom: calc(var(--pad) * 2);
}


@media only screen and (max-width: 54rem){
    .event{  
        scroll-margin-top: calc(var(--anchor-pad) + var(--header-height) + var(--pad) * 2);
    }
    .calendar__toc summary{
        padding: calc(var(--lh) * 0.5) var(--pad);
        text-align: center;
    }
}


@media only screen and (max-width: 54rem){
    .calendar {
        display: block;
        gap: 0;
    }
    .calendar__events {
        padding-left: var(--pad-big);
    }
    .calendar__toc{
        padding: 0;
        margin: 0;
    }
    .calendar__toc summary + div{
        padding: calc(var(--lh) * 1) var(--pad);
    }
    .calendar > aside{
        position: sticky;
        top: var(--body-start);
        z-index: 990;
        background: var(--c-back);
    }
}

@media only screen and (max-width: 36rem){
    .event:not(:last-of-type) {
        margin-bottom: calc(var(--pad) * 4);
    }
}
