
/* header */
.shelf__header{
    padding: var(--lh) var(--pad) 0;
    line-height: 1.2;
    font-size: var(--fs-nationnal-plus);
    margin-bottom: calc(var(--lh) * 2);
}
.shelf__tags, .shelf__nav{
    margin-top: calc(var(--lh) * 0.5);
}
.shelf__tags{
    font-size: 1rem;
    max-width: var(--max-text-width);
    margin: 0 auto;
    text-align: center;
}
.shelf__tags.block__tags::before {
	content: url('../caves/cave20.svg');
	margin-right: 0;
	float: none;
	margin-bottom: var(--lh);
	display: block;
}
.shelf__tags .block__list{
    justify-content: center;
}

.shelf__nav{
    font-size: 1rem;
}

.shelf__nav div{
    margin-bottom: var(--nav-space);
}
.shelf__nav a {
    display: inline-block;
    border-bottom: var(--border);
    font-family: var(--f-olive);
    font-size: 1em;
}

.shelf__nav div p {
    display: inline;
    vertical-align: top;
    margin-left: 0.5em;
}

.shelf__nav .toc ul li a {
	box-sizing: border-box;
	display: block;
	background-color: initial;
	padding: 0;
	border-radius: 0;
}

.shelf__nav .toc ul {
	gap: calc(var(--lh) * 0.5);
}

/*  vitrine
    ------------------------------------------------------------------ */

.big-grid{
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;

    gap: calc(var(--lh) * 1) var(--lh);
    padding: 0 var(--pad) var(--lh);
}
.big-grid .block--flow{
    grid-template-rows: auto 1fr;
}
.big-grid .block__authors::before{
    content: none;
}
.big-grid > h2 {
	text-align: center;
}
.big-grid > h2::before {
	content: url('../caves/cave15.svg');
    margin-right: 0.4em;
	display: inline-block;
}

.small-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    align-items: flex-start;
    
    gap: calc(var(--lh) * 1.5) var(--pad-big);
    padding: 0 var(--pad) var(--lh);
}

.drawer{
    grid-column: 1 / -1;
    border-bottom: var(--border);
    height: var(--header-height);

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: var(--body-start);
    margin-top: var(--lh);
    z-index: 998;

    background-color: var(--c-back);
    box-sizing: border-box;

    margin: 0 calc(var(--pad) * -1);

    scroll-margin-top: var(--body-start);
}

@media screen and (max-width: 36rem) {
    .big-grid {
        grid-template-columns: 1fr;
        grid-template-rows: initial;
        grid-auto-flow: row;
        padding-right: 0;
    }
        
    .small-grid{
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        padding-right: 0;
    }
    .drawer{
        width: calc(100% + var(--pad));
        margin-right: 0;
    }
    .small-grid .block__short{
        padding-right: var(--pad);
    }
    .small-grid  .event__program{
        margin-right: var(--pad);
    }
    .shelf__nav div p {
       display: block;
       margin-left: var(--pad);
    }
}


/*  drawer
    ------------------------------------------------------------------ */

.shelf__drawers{
    padding: var(--lh) 0;
}
details.shelf__drawer{
    border-top: var(--border);
    margin-top: calc(var(--border-width) * -1);
    border-color: var(--c-ether-more);
}
details.shelf__drawer summary + *{
    border-top: none;
}
details.shelf__drawer summary{
    pointer-events: all;
    text-align: left;
    border-bottom: var(--border);
    border-color: var(--c-ether-more);
    background-color: var(--c-ether);
}
/* details.shelf__drawer[open] summary,
details.shelf__drawer summary:hover{
    background-color: var(--c-main);
} */


/* drawer content */
.drawer__short{
    max-width: var(--max-text-width);
}
.drawer__content{
    padding: var(--lh) var(--pad-big);
}
.drawer__content .small-block:not(:last-child){
    margin-bottom: var(--lh);
}

/* drawer opening */
details.shelf__drawer summary::after{
    content: 'ouvrir';
    cursor: pointer;
    display: block;

    background-color: white;
    border: var(--border);
    padding: 0 0.6rem;
    border-radius: 0.4rem;
    height: var(--lh);

    text-align: center;
    box-sizing: border-box;
    font-family: var(--f-olive);

    margin-left: auto !important;
    margin-right: 0;
    width: 6em;

    z-index: 1;
}
details.shelf__drawer:not([open]){
    overflow: visible !important;
}
details[open].shelf__drawer summary::after{
    content: 'fermer';
}



/*  cifasotheque navigation
    ------------------------------------------------------------------ */

.theque__nav{
    border-bottom: none;
    position: fixed;
    bottom: var(--nav-space);
    left: var(--nav-space);
    right: var(--nav-space);
    z-index: 1000;
}

.cifasotheque{
    padding-bottom: calc(var(--nav-space) + var(--header-height));
}

.theque__nav > ul{
    background: none;
    padding: var(--nav-space);
    gap: var(--nav-space);
}
.theque__nav > ul > li{
    flex: 0 1 100%;
    background-color: var(--c-main);
    position: relative;
    z-index: 999;
    border-radius: var(--radius);
}

