:root{
    --glacious-green:#b3e8c2;
    --cobalt-green: #94ff94d9;
    --pale-turtle: #bfe68c;
    --helvetica-blue: #004ea761;
    --cerulian-blue: #29bdad;
    --green-blue: #2dbc94;

    --pinkish-cinamon: #ffbf99;
    --yellow-ocher: #e0b81f; 
    --yellow-orange: #db7a04;
    --cinamon-rufous: #d76d34;
    --ocre: #ab9109;

    --pale-ecru-drab: #c4bfba;
    --greyish-lavender: #b9b1be;
    --greyish-lavender: hsl(280, 10%, 88%);
}

:root{

    /* COLORS 
    ----------------------------------------------------------- */

    /* selection */
    --c-liquid: hsl(142, 43%, 96%);
    --c-liquid-more: hsl(142, 92%, 86%);    /*slightly bluer and more vibrant glacious green*/
    --c-solid: hsl(40, 52%, 94%);
    --c-solid-more: hsl(48, 80%, 56%);      /*shinier yellow ocher*/
    --c-ether: hsl(26, 27%, 90%);           /*more saturated pale ecru drab*/
    --c-ether-more: hsl(26, 18%, 76%);

    --c-liquid: white;
    --c-solid: white;

}


/* neutral */
body{
    --c-back: var(--c-ether-more);
    --c-main: var(--c-ether);
}
.event__title{
    --c-main: white;
}
.liquid{
    --c-back: var(--c-liquid);
    --c-main: var(--c-liquid-more);
}
.solid{
    --c-back: var(--c-solid);
    --c-main: var(--c-solid-more);
}
.liquid .event__title,
.solid .event__title{
    --c-main: inherit;
}

*::selection{
    background-color: var(--c-ether);
}

.c-back{
    background: var(--c-back);
}

.c-strong-back{
    background: var(--c-main);
}