

:root{
    --c-ok: forestgreen;
    --c-warning: orangered;
}

/*  MAIN CONTAINERS
    ======================================================  */

.debug-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    --lh: 1rem;
    font-size: 0.825rem;
    font-family: monospace;
    line-height: var(--lh);
}
.debug-container > *{
    padding: var(--pad-ext);
    max-width: 52rem;
    margin: 0 auto;
}
.debug-container.pages{
    display: grid;
    grid-template-columns: 1fr;
}

/*  TYPO
    ======================================================  */
.debug-container h2{
    font-weight: bold;
    margin: var(--lh) 0;
    font-size: var(--fs-plus);
}
.debug-container a{
    text-decoration: underline;
}

/*  SUBDIVS
    ======================================================  */

/* first subdiv */
.debug__event{
    margin: calc(var(--lh) * 1.5) 0;
}
.debug__event--program{
    border: thin solid black;
    padding: var(--pad);
}
.debug__event:first-of-type{
    margin-top: 0;
}
.debug__event:last-of-type{
    margin-bottom: 0;
}

/* second subdiv */
.debug__article-with-trans{
    margin: calc(var(--lh) * 1) 0;
}
.debug__article-with-trans:first-child{
    margin-top: 0;
}
li:last-child .debug__article-with-trans{
    margin-bottom: 0;
}

/* third subdiv */
.debug__article{
    margin: calc(var(--lh) / 2) 0;
}
.debug__translations > li > div::before{
    content: "translation";
    color: var(--c-ok);
    font-weight: bold;
}

/* program list */
ul.debug__program{
    padding-left: calc(var(--lh) * 1.5);
}
ul.debug__program{
    list-style: disc;
    list-style-position: outside;
}

/* utilities */
.debug__warning{
    color: var(--c-warning);
}
.debug__ok{
    color: var(--c-ok);
}

/* dates table */
.debug table,
.debug td,
.debug tr{
    display: inline;
}
.debug .time:first-of-type:before{
    content: '(';
}
.debug .time:last-of-type:after{
    content: ')';
}
.debug .time:nth-of-type(2):before{
    content: ' > ';
}
.debug tr:not(:last-child)::after{
    content: ', ';
}
.debug .date:nth-of-type(2):before{
    content: ' > ';
}