:root {
    --national-normal: 450;
    --national-bold: 600;
}
/* ANTIQUE OLIVE */

@font-face {
    font-family: QTAntiqueOlive;
    src: url('../fonts/CifasOlive-web/cifasolive5-regular-webfont.woff2');
    font-weight: normal;
    font-style: normal;
    letter-spacing: -0.003em;
}
@font-face {
    font-family: QTAntiqueOlive;
    src: url('../fonts/CifasOlive-web/cifasolive5-bold-webfont.woff2');
    font-weight: bold;
    font-style: normal;
    letter-spacing: -0.003em;
}

/* NATIONAL */

@font-face {
    font-family: NationalPark;
    src: url('../fonts/NationalPark/NationalPark-VariableVF.woff2');
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wght" 350;

    word-spacing: 0.1em;
    letter-spacing: -0.001em;

}
@font-face {
    font-family: NationalPark;
    src: url('../fonts/NationalPark/NationalPark-VariableVF.woff2');
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wght" 600;

    word-spacing: 0.05em;
}


