:root{

    /* BORDERS 
    ----------------------------------------------------------- */

    --border-width: 0.08rem;
    --border: var(--border-width) solid black;
    --border-double: calc(var(--border-width) * 3) double black;
    --border-thick: 0.24rem solid black;
    --border-dotted: 0.12rem dotted black;
    --radius: var(--pad);

    /* TYPOGRAPHY
    ----------------------------------------------------------- */

    --f-olive: "QTAntiqueOlive";
    --f-main: "NationalPark";

    /* 
    line-heigth defined as a variable
    to create spacing relative to the basic lh
    (in rem so it's relative to the basic font-size 
    */
    --lh: 1.4rem;

    /* Olive font-sizes */
    --fs-big: 3rem;           /* big size for olive (think event title) */
    --fs-plus: 2.1rem;          /* less-big size for olive (think subevent titles) */
    --fs-nationnal-plus: 2rem;
    --fs-up: 1.5rem;            /* up size for olive (think event category) */

    --fs-mini: 0.7rem;

    /* SPACES
    ----------------------------------------------------------- */

    /* padding distance from text to filet,
    so it's the same everywhere */
    --pad: 1rem;
    --pad-big: 3rem;

    --nav-space: calc(var(--lh) / 4);
    --nav-color: var(--c-ether);
    --nav-fill: var(--nav-space) solid var(--nav-color);

    /* header */
    --header-height: calc(var(--lh) * 2);

    --body-start: calc(var(--header-height) + 2 * var(--nav-space));
}

:root{
    --max-text-width: 40rem;
    --left-column-width: 25rem;
    --max-img-size: 50vh;
}

html{
    font-family: var(--f-main);

    /* this is a website on which the users are going to READ
    let them give a nice big font-size */
    /* font-size: 1.125em; */

    /* for anchor links */
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
body.lower-nav{
    --body-start: calc(var(--header-height) + var(--lh) * 1.5 + 3 * var(--nav-space));
}

@media only screen and (max-width: 54rem) {
    :root{
        --pad-big: 2rem;
    }
}

@media only screen and (max-width: 36rem) {
    :root{
        --pad: 0.75rem;
        --pad-big: var(--pad);

        --fs-big: 2.8rem;
        --fs-plus: 1.8rem;
        --fs-nationnal-plus: 1.3rem;
        --fs-up: 1.4rem;
        --fs-mini: 0.8rem;
    }
    html{
        font-size: 1em;
    }
}


/* GLOBAL STYLE (to apply everywhere!)
============================================================= */

em{
    font-style: italic;
}

img{
    max-width: 100%;
    display: block;
}
hr{
    border: none;
    border-top: var(--border);
    margin: var(--lh) 0 !important;
}
dt {
    font-family: var(--f-olive);
    margin-top: calc(var(--lh) * 0.5);
}
dd {
    margin-left: calc(2 * var(--lh));
}

/* LINKS HANDLING
============================================================= */

/* by default links invisible */
a,
a:visited{
    color: currentColor;
    text-decoration: none;
}
/* and have hover effect that make them go up */
a{
    transition: 0.15s;
    position: relative;
    bottom: 0;
}
a:hover{
    bottom: 0.1em;
}

/* remove moving */
.no-hover-links a:hover{
    bottom:  0;
}

/* if in text its underlined with a border */
/* the class no-links remove all link even if in txt-content */
.txt-content:not(.no-links) a:not(.small-pannel){
    border-bottom: var(--border);
    border-bottom-style: dotted;
    padding-bottom: 0;
}
.txt-content:not(.no-links) a:not(.small-pannel):hover{
    padding-bottom: 0.1em;
}

/* color link -- change the color of the link instead of moving it*/
.color-links a{
    transition: 0.15s;
    display: block;
    background-color: var(--c-ether);
}
.color-links a:hover{
    background-color: var(--c-main);
}
.color-links a.active{
    background-color: var(--c-main);
}

/* BORDER
============================================================= */

/* big pannel */
.border-pannel{
    display: block;
    margin: calc(var(--pad) * 0.5);
    outline: calc(var(--pad) * 0.5) solid var(--c-main);
    border-radius: calc(var(--pad) * 0.75);
    border: var(--border-thick);
    background-clip: padding-box;
    background-color: var(--c-main);
    padding: calc(var(--pad) * 0.65) calc(var(--pad) * 1.25) calc(var(--pad) * 0.5);
}
.border-pannel:hover{
    bottom: 0;
}

/* small pannel */
.small-pannel,
.toc ul li a{
    box-sizing: border-box;
    display: block;
	background-color: var(--c-main);
	padding: 0 0.4em;
	border-radius: 0.4em;
}
.calendar__toc .small-pannel{
   overflow: hidden;
   max-width: 100%;
}
.calendar__toc .toc__list{
    padding-right: var(--lh);
}


.past .small-pannel{
    background-color: initial;
}
.deactivate-pannel .small-pannel{
    background: initial;
    border: var(--border);
}

/* SPACING
============================================================= */

.border-pad{
    padding: calc(var(--lh) * 0.5) var(--pad);    
}
.border-pad--full{
    padding: var(--pad);
}
.txt-pad{
    padding: 0 var(--pad-big);
}

@media only screen and (max-width: 54rem) {
    .border-pad{
        padding: calc(var(--lh) * 0.25) calc(var(--pad) * 1); 
    }
}

/* LAYOUT TOOLS
============================================================= */

.container{
    position: relative;
}
.sticky{
    position: sticky;
    top: var(--body-start);
    height: calc(100vh - var(--header-height) - calc(3 * var(--nav-space)));
    box-sizing: border-box;
    overflow: hidden;
}
.sticky > *{
    box-sizing: border-box;
    overflow: auto;
    max-height: 100%;
}

@media only screen and (max-width: 54rem) {
    .sticky{
        position: static;
        top: revert;
        height: auto;
        overflow: visible;
    }
}

/* DETAILS
============================================================= */

details summary{
    cursor: pointer;
    list-style: none;
    text-align: center;
    
    padding: 0;
    margin: 0 !important;
    padding: calc(var(--lh) * 0.5) var(--pad);
    position: relative;
    overflow: visible !important;
    
    pointer-events: none;
    background-color: var(--c-back);

    z-index: 1;

}
details summary + *{
    border-top: var(--border);
    margin-top: 0 !important;
}

details summary::-webkit-details-marker,
details summary::marker {
    display: none;
}

@media only screen and (max-width: 54rem) {
    details{
        border-bottom: var(--border);
    }
    details summary{
        pointer-events: all;
        background-color: var(--c-main);
    }
    details summary::after{
        content: '...';
        cursor: pointer;
        display: inline-block;

        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        margin-top: calc(var(--lh) * -0.5 + var(--border-width));

        background-color: white;
        border: var(--border);
        padding: 0 0.6rem;
        border-radius: 0.4rem;
        height: var(--lh);

        font-size: var(--fs-plus);
        line-height: 0;
        text-align: center;
        box-sizing: border-box;
        font-family: var(--f-olive);
    }
    details:not([open]){
        overflow: visible !important;
    }
    details[open] summary::after{
        content: '×';
        line-height: 0.65;
        font-family: inherit;
    }
    details[open]{
        max-height: calc(100vh - var(--header-height) - calc(3 * var(--nav-space)));
        overflow: scroll;
    }
}


/* mermaid
    ============================================================= */

    .edgeLabel,
    .nodeLabel{
        font-family: var(--f-main);
        font-size: 1rem;
    }
    .edgeLabel{
        background: var(--c-back) !important;
    }
    .node > rect{
        fill: var(--c-main) !important;
        stroke: black !important;
        stroke-width: 0.18rem !important;
    }
    .flowchart-link{
        stroke: black !important;
        stroke-width: var(--border-width) !important;
    }
    .arrowMarkerPath{
        fill: black !important;
        stroke-width: 0 !important;
    }
    
    .mermaid strong{
        font-family: var(--f-olive);
    }
    .mermaid strong.plus{
        font-family: var(--f-olive);
        font-size: var(--fs-up);
    }
    
    .mermaid{
        width: min(var(--max-article-width), 100%);
    }
    .mermaid > svg{
        margin: calc(var(--lh) * 2) auto;
        display: block;
    }


/*  desire-grid
    ============================================================= */

.desire-path-page{
    background-color: var(--c-ether);
}

.desire-path-page .top{
    grid-column: 1 / -1;
    position: sticky;
    top: var(--body-start);
    border: var(--border);
    border-left: 0;
    border-right: 0;
    text-align: center;
    background-color: var(--c-ether);
    z-index: 99999;
    padding: calc(0.5 * var(--lh)) 0 calc(1.25 * var(--lh));
    margin-bottom: var(--lh);
}

.desire-path-page input{
	display: block;
	padding: calc(var(--lh) * 0.5) var(--pad);
	font-family: var(--f-main);
	font-size: 1rem;
	border-radius: 5em;
	border: var(--border);
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(var(--lh) * 2);
}
::placeholder {
    opacity: 0.5; /* Firefox */
}

.desire-grid{
    gap: var(--lh) var(--nav-space);
    padding: var(--lh) var(--pad);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.desire-grid > *{
    border: var(--border);
    border-style: dotted;

    padding: 0 0.5rem 0.5rem;
    background-color: white;
    flex-grow: 1;
    max-width: 100%;

    scroll-margin-top: calc(var(--header-height) + calc(var(--lh) * 8));
}
.desire-grid .small-pannel{
    margin-top: calc(var(--lh) * -0.5) !important;
    margin-bottom: calc(var(--lh) * 0.25) !important;
    background-color: var(--c-ether-more);
    border: var(--border);
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}


.desire-grid > *:target{
    border-style: solid;
}
.desire-grid > *:target .small-pannel{
    background-color: white;
}

.desire-path-page .desire-grid ul{
    margin: 0;
    line-height: 1.4;
    list-style: disc;
    padding-left: calc(var(--lh) * 0.5);
}