/* MAIN HEADER
============================================================= */

.main-nav ul{
    list-style: none !important;
}
.no-list ul{
    list-style: none !important;
    padding-left: 0;
}

/* --- logo sizes */
img.logo{
    height: 1em;
    max-width: none;
}
.home img.logo{
    /* relative to the fs-big :) */
    height: 8em;
    position: relative;
    top: -2.3em;
}
.home .logo-wrapper{
    display: block;
    --h: calc(0.85 * var(--fs-big));
    height: var(--h);
}

/* --- hole */
.main-nav{
    pointer-events: none;

    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    z-index: 999;

    border: var(--nav-fill);
    border-width: var(--nav-space);
    box-sizing: border-box;

    /* outline: var(--border);
    outline-offset: calc(-1 * var(--border-width)); */

}
.main-nav a,
.main-nav label,
.main-nav .sub-nav{
    pointer-events: all;
}

.main-nav::after{
    /* inside outline */
    content: '';
    position: absolute;
    inset: 0;
    outline: var(--border);
    outline-offset: calc(-1 * var(--border-width));
    top: calc(var(--body-start) - var(--nav-space));
}

body{
    padding-top: var(--body-start);
    padding-bottom: var(--nav-space);

    padding-left: calc(var(--nav-space));
    padding-right: calc(var(--nav-space));
}

.nav-box{
    border-bottom: var(--nav-fill);
    position: relative;
}

.nav-box > ul{
    height: var(--header-height);
    background-color: var(--nav-color);
    display: flex;
}

.small-nav {
    height: auto !important;
  }
.small-nav .nav-item{
    height: calc(var(--lh) * 1.5);
    padding: 0 0.4em;
    border-radius: 0.4em;
}
.big-nav{
    flex-grow: 1;
    gap: var(--nav-space);
}
.nav-box > ul > *{
    flex: 1 1 0;
    min-width: 0;
}

/* --- item */
.nav-item{
    height: 100%;
    padding: 0 var(--lh);
    border: var(--border);
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}
.nav-item span{
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* --- capitalising navigation */
.nav__langs
{
    text-transform: capitalize;
}

/* --- order */
#nav-liquid{
    order: 0;
}
#nav-cifas{
    order: 1;
    flex: 0 0 auto;
}
#nav-solid{
    order: 2;
}

/* --- active */
body:not(.home) .big-nav .nav-item{
    background-color: white;
}
body.liquid #nav-liquid .nav-item{
    background-color: var(--c-main) !important;
}
body.solid #nav-solid .nav-item{
    background-color: var(--c-main) !important;
}
.nav-item.active{
    background-color: var(--c-main) !important;
}

/*  EXTEND NAVIGATION FOR HOME
    ========================================================= */

body.home{
    height: 100vh;
    height: 100dvh;
    padding: 0;
    overflow: hidden;
}
body.home .main-nav{
    position: static;
}

/* remove inside outline */
.home .main-nav::after{
    content: none;
}
/* make them grow */
.home .nav-box{
    height: 100%;

    border-bottom: none;
    
    display: flex;
    flex-direction: column;
    gap: var(--nav-space);

    background: var(--nav-color);
}

/* background of color */
.home .big-nav > li{
    background-color: var(--c-back);
    position: relative;
}

/* --- home subnav */
.home #nav-cifas{
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    width: 16rem;
    background: none;
}
.home .big-nav .nav-item{
    border: none;
}
.home .big-nav > li{
    border: var(--border);
}

.home #nav-cifas{
    border: none;
}

.sub-nav{
    box-sizing: border-box;
    max-width: 100vw;
}
.sub-nav > *{
    margin: 0;
}
.nav__langs{
    display: flex;
    justify-content: space-between;
}

.home #nav-cifas .nav__pages{
    margin-top: calc(1.5 * var(--lh));

    display: flex;
    flex-direction: column;
}

/* --- active lang */
.sub-nav__lang.active {
    margin-left: 25px;
}
.sub-nav__lang.active::before,
.sub-nav__pages.active::before{
    content: url('../caves/cave17.svg');
    position: absolute;
    z-index: 100;
    margin-left: -31px;
}

/* --- shapes */
.home li .shapes-container{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.home li .shapes-container{
    padding: var(--pad);
}
.home li .shapes-container img{
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}
.home li .shapes-container img{
    position: relative;
}

.home li .img-credits{
    position: absolute;
    left: var(--nav-space);
    right: var(--nav-space);
    bottom: var(--nav-space);
    padding: 0;
}
.home #nav-liquid .img-credits{
    text-align: left;
}

.home li a{
    position: relative;
    z-index: 2;
}


/*  DESIRE PATHS
    ========================================================= */

.desire-paths{
    flex-grow: 0;
    align-items: baseline;
    gap: 0;
    margin: calc(-1 * var(--nav-space));
    margin-top: 0;
    font-family: var(--f-main);
}
.desire-paths > *{
    box-sizing: border-box;
    height: 100%;
    flex: 0 1 100%;
    text-align: center;
}
.desire-paths .nav-item{
    border-bottom: none !important;
    border-right: none !important;
}
.desire-paths > *:first-child > .nav-item{
    border-left: none;
}

h2.desire-path{
    font-size: 1rem;
    letter-spacing: 0;
    margin: 0;
    font-family: var(--f-main);
    box-sizing: border-box;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    background: white !important;
    border: var(--border) !important;
    margin-top: calc(var(--lh) * -0.5) !important;
    line-height: var(--lh);
    height: auto;

    z-index: 2;
}

/*  MOBILE
    ========================================================= */

.nav__pages summary{
    display: none;
}
.home #nav-cifas .nav__pages ul{
    border-top: 0;
}
.nav__pages ul{
    list-style: none !important;
}


@media only screen and (max-width: 54rem) {   
    .home .big-nav {
        flex-direction: column;
    }
    .nav-item{
        padding: 0 calc(var(--lh) * 0.5);
    }

    .home #nav-cifas,
    .home #nav-liquid,
    .home #nav-solid{
        flex: 1 1 25%;
        min-height: 0;
        box-sizing: border-box;
    }


    .home #nav-cifas{
        width: initial;
        order: 0;

        display: flex;
        flex-direction: column;
        padding-top: calc(var(--lh) * 2 - var(--nav-space));
    }

    /* in order in the top section */
    .home #nav-cifas .nav__pages{
        order: 0;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: var(--c-ether);
        z-index: 1000;
        margin-top: 0;
    }
    .home #nav-cifas .nav__langs{
        padding-bottom: 0;
        order: 1;
    }
    .home #nav-cifas .nav-item{
        padding: 0 var(--lh);
        padding-bottom: 0;
        order: 2;

        height: auto;
        flex-grow: 1;
    }

    /* details */
    .nav__pages summary{
        display: block;
    }
    .home #nav-cifas .nav__pages ul{
        padding: var(--lh) var(--pad);
    }

    .home #nav-cifas .nav__pages ul {
        border-top: var(--border);
      }

    .home h2.desire-path{
        display: none;
    }


}
@media only screen and (max-width: 36rem) {  
    .small-nav{
        flex-wrap: wrap;
    }
    .small-nav li{
        min-width: 6em;
    }
    .small-nav .nav-item{
        height: calc(var(--lh) * 1.25);
    }
    body.lower-nav {
        --body-start: calc(var(--header-height) + var(--lh) * 3 + 2 * var(--nav-space));
    }
}
